Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Merge tests
  frontend/test/components/assigneeBadge.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review Findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/UserController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/UserTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/UserControllerTest.java
  frontend/src/components/AssigneeBadge.vue
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/components/search/shared/ResultList.vue
  frontend/test/components/assigneeBadge.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Log only user id
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/User.java
Due: none

Fix duplicate error
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Sentry user exception (#3105)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/User.java
Due: none

Temp: Increase performance test thresholds
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Temp: Increase performance test thresholds (#3106)
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix category import bug (#3103)
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/components/category-import/categoryImport.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Select the longest segment user group
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/KeycloakUserService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/KeycloakUserServiceTest.java
Due: none

Make processstep e2e test robust with fixture
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update languagetool
  compose.yaml
Due: none

Update dependencies
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
  backend/build.gradle.kts
  compose.yaml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix typo in README.md
  README.md
Due: none

Search filter layout adjustments
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add document number to warn output
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Show process step button only for decisions
  frontend/src/components/DocumentUnitInfoPanel.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add process step filter
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix info panel icon and initials
  frontend/src/components/AssigneeBadge.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add category import e2e assertion for definition
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix info panel display resolution
  frontend/src/components/IconBadge.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add category import e2e assertion for definition (#3109)
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix process steps e2e tests
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Search form grid adjustments
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix styling
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Comment flaky user check for now
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Restructure searchForm test
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Process steps temporarly skip
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix tests
  frontend/test/components/search/decisionSearch.spec.ts
  frontend/test/components/search/pendingProceedingSearch.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert change in setup.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Apply code review suggestions
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/FullLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionCommonLdmlTransformer.java
Due: none

Improve coverage
  frontend/src/components/search/shared/SearchForm.vue
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Process step search frontend (#3112)
  frontend/src/components/search/shared/SearchForm.vue
  frontend/test/components/search/decisionSearch.spec.ts
  frontend/test/components/search/pendingProceedingSearch.spec.ts
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust min height of search inputs
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Search form grid adjustments (#3111)
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix grid row height
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reduce flakiness for border-number e2e
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reduce flakiness for border-number e2e (#3113)
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix default process step value
  frontend/src/components/search/shared/SearchForm.vue
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
