Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add missing types
  frontend/src/data/admissionOfAppealTypes.json
  frontend/src/data/appellantTypes.json
Due: frontend-prettier, frontend-eslint

Adjust DocumentUnitCoreData.vue
  frontend/src/components/DocumentUnitCoreData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

E2e test for importer
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/handover/handover-imported-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/testfiles/docunit_expected_preview.xml
  frontend/test/e2e/caselaw/testfiles/docunit_to_import.xml
  frontend/test/e2e/caselaw/utils/documentation-unit-api-util.ts
  frontend/test/e2e/caselaw/utils/importer-api-util.ts
  run.sh
Due: frontend-typecheck, frontend-prettier, frontend-eslint

FE formatting
  frontend/test/e2e/caselaw/utils/documentation-unit-api-util.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip test
  frontend/test/e2e/caselaw/handover/handover-imported-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add resolutionDate
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PendingProceedingDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CoreData.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/input/types.ts
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/pendingProceeding.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Make PendingProceeding savable (fe: WIP)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  frontend/src/components/ActiveCitationSummary.vue
  frontend/src/components/DocumentableInfoPanel.vue
  frontend/src/components/PendingProceedingCategories.vue
  frontend/src/components/PendingProceedingPreviousDecisions.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/domain/pendingProceeding.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
  frontend/src/services/documentUnitService.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/stores/pendingProceedingStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove documentable from fe
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
  frontend/src/routes/kitchensink/index/documentUnitInfoPanel.vue
  frontend/src/services/documentUnitService.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Hide panelModelBar and previewInNewTab
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix type issues
  frontend/src/components/DocumentUnitAttachments.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/ParticipatingJudges.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/DuplicateRelationListItem.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/texts/DocumentUnitAdditionalTexts.vue
  frontend/src/components/texts/DocumentUnitLongTexts.vue
  frontend/src/components/texts/DocumentUnitShortTexts.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/pendingProceeding.ts
  frontend/src/services/borderNumberService.ts
  frontend/test/components/management-data/duplicateRelationListItem.spec.ts
  frontend/test/components/scheduledPublishingDateTime.spec.ts
  frontend/test/services/borderNumberService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix PendingProceedingTransformerTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
Due: none

Make patched update work with pending proceeding
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
Due: none

Fix failed e2e auth setup selectors
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/e2e/caselaw/authentication.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Bump exporter version
  backend/build.gradle.kts
Due: none

Exception for BFH year at the end
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfigTest.java
Due: none

Update language tool
  compose.yaml
Due: none

Fix PendingProceedingPreview
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/services/documentUnitService.ts
  frontend/src/utils/typeGuards.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing categories
  frontend/src/components/DocumentUnitContentRelatedIndexing.vue
  frontend/src/components/PendingProceedingCategories.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add comments
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
Due: none

Fix patch update
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Make search repo drop-in replacement (#2828)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/DocumentationUnitSearchRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
Due: none

Remove duplications in [documentNumber].vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/PendingProceedingPreviousDecisions.vue
  frontend/src/components/PendingProceedingProceedingDecisions.vue
  frontend/src/components/input/types.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reuse kind field for jackson (de)serialization
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
Due: none

Always set kind, remove from constructor
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
Due: none

Disable not used endpoint test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Stop exporting ignored words
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  frontend/src/components/settings/ApiKeySettings.vue
  frontend/test/e2e/caselaw/handover/handover-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/inbox.spec.ts
  frontend/test/e2e/caselaw/text-check/global-ignore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused field
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
Due: none

Improve code
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
Due: none

Hide EnsuingDecisions for PendingProceedings
  frontend/src/components/ProceedingDecisions.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert renaming
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
Due: none

Enable edit/delete button in search result
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  frontend/src/components/DocumentUnitList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust test
  frontend/src/components/settings/ApiKeySettings.vue
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/handover/handover-imported-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/testfiles/docunit_expected_preview.xml
  frontend/test/e2e/caselaw/testfiles/docunit_to_import.xml
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve FE code
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/PendingProceedingCategories.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip failing test
  frontend/test/e2e/caselaw/handover/handover-imported-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Spotless apply
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Activate test
  .github/workflows/_playwright-test.yml
  frontend/test/e2e/caselaw/handover/handover-imported-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixed kind also for documentation unit
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Autogenerate headline
  frontend/src/components/texts/PendingProceedingShortTexts.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint
