Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Add e2e test for deliveryDate + hearingDates
  frontend/test/e2e/caselaw/decision/categories/coreData/decision-date.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/has-delivery-date.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/oral-hearing-date.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e test for deliveryDate + hearingDates (#3269)
  frontend/test/e2e/caselaw/decision/categories/coreData/decision-date.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/has-delivery-date.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/oral-hearing-date.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "Display multiple regions (#3185)"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CourtDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseCourtRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresCourtRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CourtTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CourtService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/court/Court.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/domain/court.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore multi region court e2e test
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e tests for multi-region
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/preview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert Dockerfile.prod
  frontend/Dockerfile.prod
Due: none

Remove suggestions expectation in tests
  .idea/runConfigurations/Run_backend.xml
  compose.yaml
  frontend/package-lock.json
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add ignore once toggle
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/ignoreOnceMark.ts
  frontend/src/styles/ignore-once.scss
  frontend/src/types/textCheck.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable IntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
Due: none

Remove AknKeyword.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/AknKeyword.java
Due: none

Remove suggestion bar
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/TextCheckModal.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Align buttons and fix tests
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/test/components/text-check/ignoredWordHandler.spec.ts
  frontend/test/components/text-check/textCheckModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replacement bar does not have ignore btn
  frontend/test/components/text-check/replacementBar.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[RISDEV-9288] Remove suggestion bar
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/test/components/text-check/ignoredWordHandler.spec.ts
  frontend/test/components/text-check/replacementBar.spec.ts
  frontend/test/components/text-check/textCheckModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test
  frontend/test/components/text-check/ignoredWordHandler.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test (#3276)
  frontend/test/components/text-check/ignoredWordHandler.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

On typing remove text-check tag
  frontend/src/editor/textCheckExtension.ts
  frontend/test/components/text-check/textCheckExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Changes so SC is happy
  frontend/src/editor/textCheckExtension.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Changes so SC is happy (#3278)
  frontend/src/editor/textCheckExtension.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Changes so SC is happy (#3278)"
  frontend/src/editor/textCheckExtension.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "On typing remove text-check tag"
  frontend/src/editor/textCheckExtension.ts
  frontend/test/components/text-check/textCheckExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[WIP] Allow multiple decision names
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/RisMeta.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ShortTexts.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/XmlExporterTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/OAuthServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/JurisXmlExporterWrapperIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/texts/DecisionShortTexts.vue
  frontend/src/domain/decision.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[WIP] Allow multiple decision names
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionNameDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/JurisXmlExporterWrapperIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/preview/PreviewShortTexts.vue
  frontend/src/components/texts/DecisionShortTexts.vue
  frontend/src/domain/decision.ts
  frontend/src/services/borderNumberService.ts
  frontend/test/components/decision/decisionTexts.spec.ts
  frontend/test/components/preview/previewShortTexts.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/short-and-long-texts.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
  frontend/test/e2e/caselaw/external-user.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/services/borderNumberService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add plugin for text-check removal
  frontend/src/editor/textCheckExtension.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[RISDEV-9236] Typing removes error tags (#3281)
  frontend/src/editor/textCheckExtension.ts
  frontend/test/components/text-check/textCheckExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add additional test cases
  frontend/test/components/text-check/textCheckExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Merge pull request #3187 from digitalservicebund/renovate/gradle-9.x"
  backend/gradle/wrapper/gradle-wrapper.properties
  compose.yaml
Due: none

Add json e2e reporter for performance tests
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add json e2e reporter for performance tests (#3288)
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add editor cleanup
  frontend/test/components/text-check/textCheckExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[RISDEV-9236] Add additional test cases (#3285)
  frontend/test/components/text-check/textCheckExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Send performance results to metrics endpoint
  .github/workflows/_playwright-test.yml
  frontend/test/queries/queries_log_reporter.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Add json e2e reporter for performance tests (#3288)"
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Always run performance tests
  .github/workflows/pipeline.yml
Due: none

Add generation script for project dependencies
  .github/workflows/gradle-check.yml
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
