Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Fix backend tests (WIP)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Fix unit tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Remove old JPQL search (#2886)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Add isResolved log for pending proceeding updates
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HistoryLogEventType.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Fix clean up script for assigned eurlex decisions
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Filter for pending proceedings in search
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
Due: none

Refactor
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
Due: none

Revert "Refactor"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
Due: none

Add exact search match
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentNumberGeneratorService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StringUtils.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/StringUtilsTest.java
Due: none

Adjusting input parameters
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StringUtils.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
Due: none

Adding exact search in norm
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Norm exact search result (#2889)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentNumberGeneratorService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StringUtils.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/StringUtilsTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Fixing code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
Due: none

Use wildcard instead
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Fix Page.empty() response
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
Due: none

Fix name
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
Due: none

Add test case for invalid Kind filter
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
Due: none

Add test case for unauthenticated search
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisStatusAssertions.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisWebTestClient.java
Due: none

Add wild card unit test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
Due: none

Use wildcard instead (#2890)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresFieldOfLawRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/FieldOfLawRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
Due: none

Filter for pending proceedings in search (#2887)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisStatusAssertions.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisWebTestClient.java
Due: none

[WIP] Upload images when publishing to portal
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CommonPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/NoOpPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationResult.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PrototypePortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3Bucket.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/StagingPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PrototypePortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/StagingPortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

Add fixture and e2e tests for pending proceedings
  backend/src/main/resources/application-production.yaml
  backend/src/main/resources/application-staging.yaml
  backend/src/main/resources/application-uat.yaml
  backend/src/main/resources/application.yaml
  frontend/test/e2e/caselaw/authorization.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/managementdata/history-logs.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/management-data.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/preview.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
  frontend/test/e2e/caselaw/preview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add kind to decision fixtures api calls
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add fields of law tests
  frontend/src/components/field-of-law/FieldOfLawTree.vue
  frontend/test/components/fieldOfLaw/fieldsOfLaw.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Package lock json
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Update some more dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fixed 'Mit Normen' status was not preserved
  frontend/src/components/field-of-law/FieldsOfLaw.vue
  frontend/test/components/fieldOfLaw/fieldsOfLaw.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixed 'Mit Normen' status was not preserved (#2891)
  frontend/src/components/field-of-law/FieldsOfLaw.vue
  frontend/test/components/fieldOfLaw/fieldsOfLaw.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update indices
  backend/src/main/resources/db-scripts/migration/V1.18__update-indices.sql
Due: none

Hide CreateNewFromSearch for pending proceeding
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update dependency vite to v7 (#2885)"
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Update indices (#2892)
  backend/src/main/resources/db-scripts/migration/V1.18__update-indices.sql
Due: none

test coverage reporting with istanbul
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update package-lock.json
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Update allowed licenses
  allowed-licenses.json
Due: none

test coverage reporting with istanbul (#2874)
  allowed-licenses.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "test coverage reporting with istanbul (#2874)"
  allowed-licenses.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "test coverage reporting with istanbul (#2874)"
  allowed-licenses.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update package json
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint
