Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Skip flakey test
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Skip flakey test"
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Reapply "Centralize text cateorgy matchs to store (#3191)""
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Clear process steps when assigning new docoffice (#3190)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

add test id validation
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add test validation
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Centralize text cateorgy matchs to store
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip test
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Pinia store matches (#3194)
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused dependency
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Reenable LanguageTool locally
  backend/src/main/resources/application-local.yaml
  compose.yaml
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/text-check/global-ignore.spec.ts
  run.sh
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable style related categories in LanguageTool
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/resources/application.yaml
Due: none

Include LanguageTool in list of services
  run.sh
Due: none

README We run language tool as default
  README.md
Due: none

Move to seperated test
  frontend/test/e2e/caselaw/text-check/keep-matches.spec.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Hide succeeding backend tests in log
  backend/build.gradle.kts
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/ExampleTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ExampleTest.java
Due: none

Tech review findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
Due: none

Fix test locator
  frontend/test/e2e/caselaw/text-check/keep-matches.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Tech review findings (#3197)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
Due: none

E2e test - match stores (#3199)
  frontend/test/e2e/caselaw/text-check/keep-matches.spec.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

WIP: Skip flaky test
  frontend/test/e2e/caselaw/text-check/keep-matches.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Hide succeeding backend tests in log
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/ExampleTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ExampleTest.java
Due: none

Hide succeeding backend tests in log (#3196)
  backend/build.gradle.kts
Due: none

New archtitecture approach in seperate service
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AbstractDocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Save document before check all RISDEV-9094
  frontend/src/components/text-check/DocumentationUnitTextCheckSummary.vue
  frontend/test/components/text-check/documentationUnitTextCheckSummary.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Save document before check all
  frontend/src/components/text-check/DocumentationUnitTextCheckSummary.vue
  frontend/test/components/text-check/documentationUnitTextCheckSummary.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

E2e Test irrelevant style-related errors
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add bulkAssign controller tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Add DatabaseDocumentationUnitServiceTest
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DatabaseDocumentationUnitServiceTest.java
Due: none

Use three letter language code in FRBRLanguage
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LanguageCodeDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LanguageCodeTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionCommonLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingCommonLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/LanguageCode.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingReducedLdmlTransformerTest.java
Due: none

Fix existing text check Test
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable style related categories in LanguageTool (#3195)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/resources/application.yaml
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add BulkAssignProcessStep integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Alow flexible configuration of LanguageTool
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/Category.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolClient.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolResponse.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/Match.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/Rule.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/TextCheckResponseTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/TextCheckConfiguration.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolConfigTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/TextCheckResponseTransformerTest.java
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix properties null issue
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolConfig.java
Due: none

Add unit test for AssignProcessStep
  frontend/src/components/AssignProcessStep.vue
  frontend/src/services/processStepService.ts
  frontend/test/components/documentUnit/assignProcessStep.spec.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Mock featureToggleService in searches
  frontend/test/components/search/decisionSearch.spec.ts
  frontend/test/components/search/pendingProceedingSearch.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Mock featureToggleService in resultList
  frontend/test/components/documentUnit/assignProcessStep.spec.ts
  frontend/test/components/search/shared/resultList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix compiler issue
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Fix backend tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
