Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Trigger logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
Due: none

Text check frontend review
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/DocumentationUnitTextCheckSummary.vue
  frontend/src/components/text-check/HandoverTextCheckView.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/components/text-check/MatchNavigator.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/editor/textCheckMark.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/services/textCheckService.ts
  frontend/src/types/textCheck.ts
  frontend/test/components/documentUnit/documentUnitTexts.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/text-check/handoverTextCheckView.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/test-helper/text-check-service-mock.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove async function
  frontend/test/components/documentUnit/documentUnitTexts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Downgrade eslint-plugin-prettier version
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix imports
  frontend/src/main.ts
  frontend/test/routes/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Trigger logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Schedule logging for after migration
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Add e2e test
  frontend/test/e2e/caselaw/categories/editableLists/relatedDocumentations/active-citations.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing test case to category-imports
  frontend/test/e2e/caselaw/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip flaky test for now
  frontend/test/e2e/caselaw/managementdata/delete-doc-unit-from-managementdata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix flakiness of delete doc unit e2e
  frontend/test/e2e/caselaw/managementdata/delete-doc-unit-from-managementdata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix scoring
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
Due: none

Use e2e prefix for test data and cleanup
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  frontend/test/e2e/caselaw/categories/coreData/procedure.spec.ts
  frontend/test/e2e/caselaw/categories/references.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/external-user.spec.ts
  frontend/test/e2e/caselaw/procedures/procedures-list.spec.ts
  frontend/test/test-helper/dataGenerators.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Schedule portal publication rii diff job
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Replace Dropdown with RISUI Select Input
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/input/DropdownInput.vue
  frontend/src/components/procedures/ProcedureList.vue
  frontend/src/routes/kitchensink/index/inputSelect.vue
  frontend/test/components/input/dropdownInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve and trigger logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Remove edition regardless of the year
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
Due: none

Small refactoring of text check
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolServiceTest.java
Due: none

Fix local problem of < and >
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Remove edition regardless of the year (#2672)
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
Due: none

Review findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
Due: none

Handle quotes in attribute names
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Validate border number links after text check
  frontend/src/editor/commands/textCheckCommands.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add Limit to PortalPublicationJobRepositor
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
Due: none

Await tree rendering before resetting the search
  frontend/test/e2e/caselaw/categories/field-of-law.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add text check ignored words repo
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/IgnoredTextCheckWordDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/IgnoredTextCheckWordTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRepository.java
Due: none

Adjust input method parameters
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRepository.java
Due: none

Adjusting tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/IgnoredTextCheckWordDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/TextCheckConfiguration.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/TextCheckTestConfiguration.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckMockService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Add add ignore endpoint
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/IgnoredTextCheckWordTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRepository.java
  frontend/src/components/text-check/IgnoredTextCheckWord.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Improve logging (refactor)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationServiceTest.java
Due: none

Add text check service in client
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/IgnoredTextCheckWordDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/IgnoredTextCheckWordTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  frontend/src/components/text-check/IgnoredTextCheckWord.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/i18n/errors.json
  frontend/src/services/textCheckService.ts
  frontend/src/types/textCheck.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Allow only mispelling types
  frontend/src/components/text-check/IgnoredTextCheckWord.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Text check closes when words is added
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/IgnoredTextCheckWord.vue
  frontend/src/components/text-check/TextCheckModal.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding not blank validation
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  frontend/src/components/text-check/IgnoredTextCheckWord.vue
  frontend/src/types/textCheck.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
