Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Add more logging to debug LDML problem
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/XmlUtilService.java
Due: none

Fix flaky backend test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/ScheduledPublicationServiceTest.java
Due: none

Suppress sonar
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/XmlUtilService.java
Due: none

Fix flaky backend test (#3034)
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/ScheduledPublicationServiceTest.java
Due: none

Revert "Fix duplicated elements LDML bug (#3027)"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/AknMultipleBlock.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/JaxbHtml.java
Due: none

Add nested group fetching
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareUserApiResponse.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Revert false renaming
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Remove logging url
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
Due: none

Extract mocking method
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Renaming
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
Due: none

Revert gradle-9 update
  backend/gradle/wrapper/gradle-wrapper.properties
  compose.yaml
Due: none

Revert "Allow xsi type attribute"
  backend/src/main/resources/xml/htmlToAknHtml.xslt
Due: none

Add new page for portal publication
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExpandableContent.vue
  frontend/src/components/publication/DecisionPublication.vue
  frontend/src/components/publication/PortalPublicationStatusBadge.vue
  frontend/src/components/publication/PublicationActions.vue
  frontend/src/components/publication/PublicationPlausibilityCheck.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/decision.ts
  frontend/src/domain/pendingProceeding.ts
  frontend/src/domain/portalPublicationStatus.ts
  frontend/src/domain/previousDecision.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/publication.vue
  frontend/src/services/publishDocumentationUnitService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add new route to test
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust backend for database changes
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PubcliationJobStatus.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PublicationJobType.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
Due: none

Adjust backend for database changes (#3037)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PubcliationJobStatus.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PublicationJobType.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
Due: none

Fix s3 mock client
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
Due: none

Remove portal publish from handover
  frontend/src/components/DocumentUnitHandover.vue
  frontend/src/services/handoverDocumentationUnitService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update test mock user
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Fix tests and mocks
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Renaming
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Review finding User API
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareUserApiResponse.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
Due: none

Processstep history logs with dynamic user data
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitHistoryLogRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseHistoryLogDocumentationUnitProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/HistoryLogDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/HistoryLogDocumentationUnitProcessStepDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitHistoryLogRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresHistoryLogDocumentationUnitProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/HistoryLogTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/UserTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitHistoryLogRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitHistoryLogService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HistoryLogDocumentationUnitProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HistoryLogEventType.java
Due: none

Handle CVE-2025-55163
  backend/build.gradle.kts
Due: none

Increase expected performance time for 2 tests
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Pin eslint-plugin-testing-library version
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Show updated at date in Abzugsdatum
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EurLexResultDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresEurLexResultRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EurLexResultIntegrationTest.java
  backend/src/test/resources/eurlex_init.sql
Due: none

Code review
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresEurLexResultRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/SearchResult.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformerTest.java
Due: none

Show updated at date in Abzugsdatum (#3013)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EurLexResultDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresEurLexResultRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/SearchResult.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EurLexResultIntegrationTest.java
  backend/src/test/resources/eurlex_init.sql
Due: none

Refactor code for more readability
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseHistoryLogDocumentationUnitProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitHistoryLogRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/HistoryLogTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitHistoryLogService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HistoryLogDocumentationUnitProcessStepRepository.java
Due: none

Add NullPointer safety
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitHistoryLogRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/HistoryLogTransformer.java
Due: none

Add blocker todos
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/HistoryLogTransformer.java
Due: none

Revert "Merge branch 'main' into feature/-process-step-history-logs"
  .github/workflows/_playwright-test.yml
  .github/workflows/backend-checks.yml
  .github/workflows/bump_images.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareUserApiResponse.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/AknMultipleBlock.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/JaxbHtml.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EurLexResultDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresEurLexResultRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PortalPublicationTaskStatus.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PortalPublicationTaskType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/SearchResult.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EurLexResultIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/resources/eurlex_init.sql
  compose.yaml
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "Merge branch 'main' into feature/-process-step-history-logs"
  .github/workflows/_playwright-test.yml
  .github/workflows/backend-checks.yml
  .github/workflows/bump_images.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
  backend/build.gradle.kts
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareUserApiResponse.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/AknMultipleBlock.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/JaxbHtml.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EurLexResultDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresEurLexResultRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PubcliationJobStatus.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PublicationJobType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/SearchResult.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EurLexResultIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/resources/eurlex_init.sql
  compose.yaml
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add unit tests
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
  frontend/src/components/publication/DecisionPublication.vue
  frontend/src/components/publication/PublicationActions.vue
  frontend/test/components/publication/decisionPlausibilityCheck.spec.ts
  frontend/test/components/publication/decisionPublication.spec.ts
  frontend/test/components/publication/portalPublicationStatusBadge.spec.ts
  frontend/test/components/publication/publicationActions.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add publication headline
  frontend/src/components/publication/DecisionPublication.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Increase test timeout
  frontend/test/components/publication/decisionPlausibilityCheck.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add new page for portal publication (#3036)
  frontend/src/components/DocumentUnitHandover.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExpandableContent.vue
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
  frontend/src/components/publication/DecisionPublication.vue
  frontend/src/components/publication/PortalPublicationStatusBadge.vue
  frontend/src/components/publication/PublicationActions.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/decision.ts
  frontend/src/domain/pendingProceeding.ts
  frontend/src/domain/portalPublicationStatus.ts
  frontend/src/domain/previousDecision.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/publication.vue
  frontend/src/services/handoverDocumentationUnitService.ts
  frontend/src/services/publishDocumentationUnitService.ts
  frontend/test/components/publication/decisionPlausibilityCheck.spec.ts
  frontend/test/components/publication/decisionPublication.spec.ts
  frontend/test/components/publication/portalPublicationStatusBadge.spec.ts
  frontend/test/components/publication/publicationActions.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Pin eslint-plugin-testing-library to 7.6.3
  renovate.json5
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
