Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Add tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StreamedFile.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StreamedFileResponse.java
Due: none

Fix code duplication in fe
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/OtherAttachments.vue
  frontend/src/composables/useAttachments.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClientTest.java
Due: none

Improve useAttachments.ts
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/OtherAttachments.vue
  frontend/src/composables/useAttachments.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e test
  frontend/src/components/AttachmentList.vue
  frontend/src/components/DocumentViewer.vue
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test tags
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
Due: none

Add e2e tests for image handover prevention (#3696)
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
Due: none

Add e2e test
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Check for size limit of original files in FE
  frontend/src/services/attachmentService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
Due: none

Add e2e test case
  frontend/test/e2e/caselaw/decision/documents/file-upload.spec.ts
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add unit test case
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use multipart upload for original docs
  frontend/src/services/attachmentService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClientTest.java
Due: none

Fix code smell
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
Due: none

Update backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Update backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
Due: none

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
Due: none

Allow other files for internal users only
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add attachmentService.spec.ts
  frontend/src/composables/useAttachments.ts
  frontend/src/i18n/errors.json
  frontend/src/services/attachmentService.ts
  frontend/src/services/publishDocumentationUnitService.ts
  frontend/test/services/attachmentService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove feature flag for image-handover (#3695)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailServiceUATTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  frontend/src/components/HandoverDecisionView.vue
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update stream with filename
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StreamedFileResponse.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Manually update chainguard images
  backend/Dockerfile.prod
Due: none

Remove sass package
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Revert "Remove sass package"
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Update chainguard image (#3706)
  backend/Dockerfile.prod
Due: none

Revert "Ignore CVE-2026-0861 (#3703)"
  .trivyignore
Due: none

Reapply "Ignore CVE-2026-0861 (#3703)"
  .trivyignore
Due: none

Fix attachmentService.spec.ts
  frontend/test/services/attachmentService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
