Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Resolve cyclic dependency
  frontend/src/domain/documentUnitListEntry.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore cognitive complexity warning
  frontend/src/domain/decision.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix doc unit store domain class instantiation
  frontend/src/stores/documentUnitStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename doc unit kind to decision
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Decision.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/preview/DecisionPreview.vue
  frontend/src/domain/decision.ts
  frontend/src/domain/documentationUnitKind.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/utils/typeGuards.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix doc unit store domain class instantiation (#2868)
  frontend/src/stores/documentUnitStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename doc unit kind to decision (#2869)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Decision.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/preview/DecisionPreview.vue
  frontend/src/domain/decision.ts
  frontend/src/domain/documentationUnitKind.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/utils/typeGuards.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reduce inbox e2e flakiness
  frontend/test/e2e/caselaw/inbox.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Resolve build warning for DocumentationUnitDTO
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ManagementDataTransformer.java
Due: none

Resolve build warning for DocumentationUnitDTO (#2870)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ManagementDataTransformer.java
Due: none

Fix redundant network api call
  frontend/src/components/field-of-law/FieldOfLawTree.vue
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
  frontend/src/components/field-of-law/FieldsOfLaw.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adapt periodical evaluation for pending proceeding
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  frontend/src/components/ActiveCitationInput.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/services/comboboxItemService.ts
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/services/comboboxItemService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

import tests and interface vwv
  frontend/src/components/field-of-law/FieldOfLawTree.vue
  frontend/src/components/field-of-law/fieldOfLawNode.ts
  frontend/src/services/fieldOfLawService.ts
  frontend/test/components/fieldOfLaw/fieldOfLawTree.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix eslint issues
  frontend/src/components/field-of-law/FieldOfLawTree.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Exclude non-text attachments in domain model
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DecisionBuilderTest.java
Due: none

Refactor: Streamline doc type category retrieval
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/FmxImportService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeCategory.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FmxImportServiceTest.java
  frontend/src/domain/documentUnit.ts
  frontend/src/services/comboboxItemService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  frontend/src/services/comboboxItemService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Introduce integration test base class
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/AuthUtils.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/AuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/BaseIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/CitationTypeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/CourtIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DeviatingObjectIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationOfficeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerAuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitFieldOfLawIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitHistoryLogIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitKeywordIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckFullIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EurLexResultIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/FieldOfLawIntegrationTest.java
  backend/src/test/resources/doc_office_init.sql
  backend/src/test/resources/document_types_cleanup.sql
Due: none

Remove UserGroupsTestConfig import
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/BaseIntegrationTest.java
Due: none

Use BaseIntegrationTest for more tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/BaseIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HealthEndpointIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalForceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/NormAbbreviationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PreviousDecisionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcedureIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/SaveNormIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/SecurityIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/TextCheckIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/UserGroupIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/YearOfDisputeIntegrationTest.java
  backend/src/test/resources/user_group_init.sql
Due: none

Use BaseIntegrationTest for more tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/MockXmlExporter.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
Due: none

Fix test interaction
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/BaseIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
Due: none

Remove SpyBean from BaseIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/BaseIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
Due: none

Fix integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
Due: none

Remove brown color
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Import vwv changes to field of law (#2871)
  frontend/src/components/field-of-law/FieldOfLawTree.vue
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
  frontend/src/components/field-of-law/FieldsOfLaw.vue
  frontend/src/components/field-of-law/fieldOfLawNode.ts
  frontend/src/services/fieldOfLawService.ts
  frontend/test/components/fieldOfLaw/fieldOfLawTree.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

test coverage reporting with istanbul
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update package-lock.json
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Update allowed licenses
  allowed-licenses.json
Due: none

Fix clean up script for eurlex test data
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review changes
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  frontend/src/services/comboboxItemService.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/services/comboboxItemService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Fix clean up script for eurlex test data"
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "Fix clean up script for eurlex test data"
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix celex number in clean up script
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
Due: none

Add Controller Tests for Image Endpoint
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Image.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/exception/ImageNotExistsException.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Fix e2e fixture
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adapt periodical evaluation inputs to pending proceedings (#2872)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/FmxImportService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeCategory.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FmxImportServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  frontend/src/components/ActiveCitationInput.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/domain/documentTypeCategory.ts
  frontend/src/services/comboboxItemService.ts
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/services/comboboxItemService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Reapply "Fix clean up script for eurlex test data""
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add Anh in DocumentTypeIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
Due: none

Add option to get unprettified preview XML
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/MailService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
  frontend/test/e2e/caselaw/utils/documentation-unit-api-util.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Test with option to get unprettified preview XML
  frontend/test/e2e/caselaw/testfiles/docunit_expected_preview.xml
  frontend/test/e2e/caselaw/utils/documentation-unit-api-util.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
