Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add celex number input (#2971)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionCommonLdmlTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/domain/coreData.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/core-data.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/preview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e for category import
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused variable
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
Due: none

Fix label
  frontend/src/components/DefinitionInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e db collation sorting issue
  frontend/test/e2e/caselaw/decision/categories/foreign-language-version.spec.ts
  frontend/test/e2e/testdata.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Implement review findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitProcessStepDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitProcessStepTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Add data table in process dialog
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/domain/documentationUnitProcessStep.ts
  frontend/src/routes/kitchensink/index/documentUnitInfoPanel.vue
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add test
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Load users on api call
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Add null check
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Fix external links in preview
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Retrive user information in process steps
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Fix external links in preview (#3006)
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add integration tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Fix NullPointer
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  frontend/test/e2e/caselaw/decision/managementdata/assign-doc-office-in-managementdata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Add error modal in process step dialog
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/i18n/errors.json
  frontend/src/services/processStepService.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/services/processStepService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "Update dependency node to v22.18.0 (#2993)"
  .github/workflows/frontend-checks.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/test/editor/tableStyleExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Reapply "Update dependency node to v22.18.0 (#2993)""
  .github/workflows/frontend-checks.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/test/editor/tableStyleExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Integrate uat portal bucket
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/NoOpPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/OtcObsConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

Fix language combobox sorting
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseLanguageCodeRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LanguageCodeIntegrationTest.java
  frontend/test/e2e/caselaw/decision/categories/foreign-language-version.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Bump schema
  backend/build.gradle.kts
Due: none

Fix language combobox sorting (#3010)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseLanguageCodeRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LanguageCodeIntegrationTest.java
  frontend/test/e2e/caselaw/decision/categories/foreign-language-version.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Prevent NPE
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepService.java
Due: none

Review findings
  frontend/src/components/CurrentAndLastProcessStepBadge.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/composables/useProcessStepBadge.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update node also in package.json and dockerfile
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Review findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepService.java
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/UpdateProcessStepDialog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Process steps review findings (#3009)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepService.java
  frontend/src/components/CurrentAndLastProcessStepBadge.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/composables/useProcessStepBadge.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add caching for style-checks
  .github/workflows/frontend-checks.yml
  frontend/.gitignore
  frontend/package.json
  frontend/tsconfig.json
Due: frontend-prettier, frontend-eslint

Show updated at date in Abzugsdatum
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EurLexResultDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresEurLexResultRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSearchResultTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EurLexResultIntegrationTest.java
  backend/src/test/resources/eurlex_init.sql
Due: none

Use content cache strategy for eslint
  .github/workflows/frontend-checks.yml
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add caching for style-checks (#3012)
  .github/workflows/frontend-checks.yml
  frontend/.gitignore
  frontend/package.json
  frontend/tsconfig.json
Due: frontend-prettier, frontend-eslint

Init user group api
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareUserApiResponse.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/KeycloakUserService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/UserController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/UserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/UserService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiServiceTest.java
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/services/comboboxItemService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add id to user object
  frontend/src/domain/user.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Optional user id
  frontend/src/domain/user.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Enable user loading
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  frontend/src/components/UpdateProcessStepDialog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add user to ComboboxInputModelType
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/components/input/types.ts
  frontend/src/services/comboboxItemService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
