Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Adjust color of ignored match
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/styles/text-check.scss
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust Text Check modal
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable adding to dictionary
  frontend/src/components/text-check/TextCheckModal.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add juris test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/Match.java
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
Due: none

Bump monthly version
  run_migration_locally.sh
Due: none

Fix prettier errors
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/styles/text-check.scss
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjusting unit tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Add ignored color e2e test
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add unsaved changes
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Add ignored match test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Add doc unit number to query
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
Due: none

Update build.gradle.kts
  backend/build.gradle.kts
Due: none

Adding text check ignored words
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/IgnoredTextCheckWordDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/IgnoredTextCheckWordTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/TextCheckConfiguration.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/exception/TextCheckUnsupportedTypeException.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/Match.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRepository.java
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/TextCheckTestConfiguration.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckMockService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckMark.ts
  frontend/src/i18n/errors.json
  frontend/src/services/textCheckService.ts
  frontend/src/styles/text-check.scss
  frontend/src/types/textCheck.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  run_migration_locally.sh
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add extended error logging to cron job
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
Due: none

Fix category import
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/e2e/caselaw/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Add extended error logging to cron job"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
Due: none

Process all jobs and filter changelog entries
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationJobIntegrationTest.java
Due: none

Remove transactional annotation
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
Due: none

Clean up commented code
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationJobIntegrationTest.java
Due: none

Showcase V8 line coverage breaks FieldsOfLaw.vue
  frontend/test/components/documentUnit/documentUnitCategories.spec.ts
  frontend/test/components/fieldOfLaw/FieldsOfLaw.spec.ts
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Apply code review feedback
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
Due: none

Add documentalist to dto and domain for export
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentalistDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
Due: none

Add transformer tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Retry docunit deletion in e2e fixture
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Retry docunit deletion in e2e fixture (#2685)
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Not fully functional refactoring
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/IgnoredTextCheckWordDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/IgnoredTextCheckWordTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/TextCheckConfiguration.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWord.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRequest.java
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/services/textCheckService.ts
  frontend/src/types/textCheck.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add comment (review feedback)
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixing type script issues
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/test/components/text-check/replacementBar.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Publish nightly changelog with change_all true
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/Changelog.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/InternalPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationJobIntegrationTest.java
Due: none

Delete e2e references and sources
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
Due: none

Fix code smells
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobServiceTest.java
Due: none

Transform and export documentalists (#2684)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentalistDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Add e2e wait for firefox NS_BINDING_ABORTED error
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Delete e2e references and sources (#2690)
  backend/src/main/resources/db-scripts/seed/R__cleanup_testdata.sql
Due: none

Code review feedback and scheduler lock
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationJobService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Frontend cleaning code
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/services/textCheckService.ts
  frontend/test/components/text-check/replacementBar.spec.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fixing backend state, reducing functions
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/TextCheckConfiguration.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/TextCheckTestConfiguration.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckMockService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Remove doc office type
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/TextCheckController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseIgnoredTextCheckWordRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresIgnoredTextCheckWordRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/IgnoredTextCheckWordTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/ignored_words/IgnoredTextCheckWordRepository.java
  frontend/src/components/text-check/IgnoredWordHandler.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/types/textCheck.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add metadata to management data
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Source.java
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/components/ManagementDataMetadata.vue
  frontend/src/domain/documentUnit.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update to newest RIS UI release
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
