Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Revert "Merge pull request #2553 from digitalservicebund/renovate/io.getunleash-unleash-client-java-10.x"
  backend/build.gradle.kts
Due: none

Bump exporter version
  backend/build.gradle.kts
Due: none

Display duplicates in status Publishing
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Downgrade vue-tsc
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Remove obsolete sentry config property
  frontend/src/main.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Display duplicates in status Publishing (#2574)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Pin vue-tsc version
  renovate.json5
Due: none

Remove playwright config complexity
  .github/workflows/_playwright-test.yml
  .github/workflows/e2e_matrix.yml
  .github/workflows/pipeline.yml
  .github/workflows/playwright.yml
  frontend/package.json
  frontend/playwright.config.ts
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/e2e/caselaw/authentication.spec.ts
  frontend/test/e2e/caselaw/documents/file-upload.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/shared/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove browser
  .github/workflows/_playwright-test.yml
Due: none

Set browser explicitly
  .github/workflows/_playwright-test.yml
Due: none

Send Slack notification only on main
  .github/workflows/_playwright-test.yml
Due: none

Set project
  .github/workflows/_playwright-test.yml
Due: none

Fix project
  .github/workflows/_playwright-test.yml
Due: none

Set manual input correctly
  .github/workflows/_playwright-test.yml
  .github/workflows/playwright.yml
Due: none

Remove playwright config complexity (#2577)
  .github/workflows/_playwright-test.yml
  .github/workflows/e2e_matrix.yml
  .github/workflows/pipeline.yml
  .github/workflows/playwright.yml
  frontend/package.json
  frontend/playwright.config.ts
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/e2e/caselaw/authentication.spec.ts
  frontend/test/e2e/caselaw/documents/file-upload.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/shared/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix BSG deletion bug
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
Due: none

Delete unused functionality
  frontend/src/components/field-of-law/fieldOfLawNode.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Bump ris data migration container
  compose.yaml
Due: none

Reapply "Text checker components changes"
  frontend/src/components/text-check/DocumentationUnitTextCheck.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/types/languagetool.ts
  frontend/test/components/text-checker/replacementBar.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "Text checker components changes" (#2582)
  frontend/src/components/text-check/DocumentationUnitTextCheck.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/components/text-check/ReplacementBar.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/types/languagetool.ts
  frontend/test/components/text-checker/replacementBar.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding logging for the toggle name
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/UnleashService.java
Due: none

Revert "Adding logging for the toggle name"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/UnleashService.java
Due: none

Remove engine strict
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Avoid loading of original in docUnit
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/OriginalXmlDTO.java
Due: none

Add tests for Literaturfundstellen Neuanlage
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Test format
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add test for deletion of migrated docUnit
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Add missing assert
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Make threshold fore responsiveness smaller
  frontend/src/components/DocumentUnitCoreData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix dropdown
  frontend/src/components/input/DropdownInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Show source in preview
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/test/components/preview/previewCoreData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add jump to category
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/CategoryType.java
  frontend/src/components/PrevNextNavigation.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/components/text-check/MatchNavigator.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/components/text-check/categoryLabels.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add frontend tests for source
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/e2e/caselaw/categories/coreData/core-data.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip flaky test again for now
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix undefined error in Sachgebiete
  frontend/src/components/field-of-law/FieldOfLawDirectInputSearch.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Activate languagetool
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/TextCheckConfiguration.java
  backend/src/main/resources/application-staging.yaml
  backend/src/main/resources/application-text-check.yaml
  backend/src/main/resources/application.yaml
Due: none

Add jump to match from side panel
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/textcheck/CategoryType.java
  frontend/src/components/PrevNextNavigation.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/components/text-check/MatchNavigator.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/components/text-check/categoryLabels.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix skipped e2e test
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Delete source reference
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
Due: none

Bump exporter
  backend/build.gradle.kts
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
