Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Fix e2e tests for tiptap update
  frontend/test/e2e/caselaw/text-check/docunit-ignore.spec.ts
  frontend/test/e2e/caselaw/text-check/global-ignore.spec.ts
  frontend/test/e2e/caselaw/text-check/ignore-once.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Bump schema version
  backend/build.gradle.kts
Due: none

Only replace combobox input if store value changed (#3560)
  frontend/src/components/ComboboxInput.vue
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Only replace combobox input if store value changed (#3560)"
  frontend/src/components/ComboboxInput.vue
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[FIX] Lists indentation styling (#3568)
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
  frontend/src/editor/listItem.ts
  frontend/src/styles/global.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reapply "Only replace combobox input if store value changed (#3560)"
  frontend/src/components/ComboboxInput.vue
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e test
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Set input text to chosen item
  frontend/src/components/ComboboxInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename Missbrauchsgebühren to Gebühren
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  frontend/src/components/AbuseFeeInput.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/domain/decision.ts
  frontend/test/components/abuseFeeInput.spec.ts
  frontend/test/components/otherCategories.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/abuse-fee.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Fix e2e test"
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Only replace combobox input if store value changed (#3569)
  frontend/src/components/ComboboxInput.vue
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Introduce local FE id
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ActiveCitationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/EnsuingDecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingDecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PreviousDecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedPendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  frontend/src/components/ActiveCitationInput.vue
  frontend/src/components/EditableList.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/composables/useIsSaved.ts
  frontend/src/domain/abuseFee.ts
  frontend/src/domain/activeCitation.ts
  frontend/src/domain/collectiveAgreement.ts
  frontend/src/domain/correction.ts
  frontend/src/domain/countryOfOrigin.ts
  frontend/src/domain/definition.ts
  frontend/src/domain/editableListItem.ts
  frontend/src/domain/ensuingDecision.ts
  frontend/src/domain/foreignLanguageVersion.ts
  frontend/src/domain/incomeType.ts
  frontend/src/domain/objectValue.ts
  frontend/src/domain/originOfTranslation.ts
  frontend/src/domain/participatingJudge.ts
  frontend/src/domain/pendingProceedingReference.ts
  frontend/src/domain/previousDecision.ts
  frontend/src/domain/reference.ts
  frontend/src/domain/relatedDocumentation.ts
  frontend/src/kitchensink/domain/dummyListItem.ts
  frontend/src/stores/documentUnitStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove preserve logic from store
  frontend/src/stores/documentUnitStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Sub list style change
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Am I crazy
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not use jest dom suggestions for e2e
  frontend/eslint.config.js
Due: frontend-prettier, frontend-eslint

Fix eslint
  frontend/eslint.config.js
Due: frontend-prettier, frontend-eslint

Remove page save
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update lists tests
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove jest-fail-on-console
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Remove playwright version pin
  .github/dependabot.yml
Due: none

Revert change in lint config
  frontend/eslint.config.js
Due: frontend-prettier, frontend-eslint

Ignore lint suggestions
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust monetary input field validation to 9 digits
  frontend/src/components/AbuseFeeInput.vue
  frontend/src/components/ObjectValueInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename Missbrauchsgebühren to Gebühren (#3570)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  frontend/src/components/AbuseFeeInput.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/domain/decision.ts
  frontend/test/components/abuseFeeInput.spec.ts
  frontend/test/components/otherCategories.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/abuse-fee.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore jest-dom eslint rules for e2e tests
  frontend/eslint.config.js
Due: frontend-prettier, frontend-eslint

Fix tests
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/components/preview/PreviewProceedingDecisions.vue
  frontend/src/domain/normReference.ts
  frontend/src/domain/objectValue.ts
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/category-import/categoryImport.spec.ts
  frontend/test/components/definitionList.spec.ts
  frontend/test/components/editableList.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/incomeTypes.spec.ts
  frontend/test/components/nomReference/normInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
  frontend/test/components/pendingProceedings.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/components/previousDecisions.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[RISDEV-10446] e2e lists tests (#3573)
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore jest-dom eslint rules for e2e tests (#3578)
  frontend/eslint.config.js
Due: frontend-prettier, frontend-eslint

Remove duplicate test
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove irrelevant eslint skip comment
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove irrelevant eslint skip comment (#3580)
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix: immediate requiere input validation
  frontend/src/components/ActiveCitationInput.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/composables/useIsSaved.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename ambiguous ris:tag(s)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/AnhaengigesVerfahren.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/CaselawReference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/Norm.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/Periodikum.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/Rechtszug.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Gericht.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/HerkunftDerUebersetzungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DocumentationUnitLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
  backend/src/test/resources/testdata/decision_minimal_ldml.xml
  backend/src/test/resources/testdata/decision_reduced_ldml.xml
  backend/src/test/resources/testdata/pending_proceeding_full_ldml.xml
  backend/src/test/resources/testdata/pending_proceeding_reduced_ldml.xml
Due: none

Add dev-env to PortalPublicationConfig
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
Due: none

Remove dead code
  frontend/src/domain/abuseFee.ts
  frontend/src/domain/activeCitation.ts
  frontend/src/domain/collectiveAgreement.ts
  frontend/src/domain/correction.ts
  frontend/src/domain/countryOfOrigin.ts
  frontend/src/domain/definition.ts
  frontend/src/domain/editableListItem.ts
  frontend/src/domain/ensuingDecision.ts
  frontend/src/domain/foreignLanguageVersion.ts
  frontend/src/domain/incomeType.ts
  frontend/src/domain/normReference.ts
  frontend/src/domain/objectValue.ts
  frontend/src/domain/originOfTranslation.ts
  frontend/src/domain/participatingJudge.ts
  frontend/src/domain/pendingProceedingReference.ts
  frontend/src/domain/previousDecision.ts
  frontend/src/domain/reference.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix code smells
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/AnhaengigesVerfahren.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/Rechtszug.java
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
