Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Fix styling
  frontend/src/styles/text-check.scss
Due: none

Fix self closing tag to transform images
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CommonPortalTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HtmlToAknTest.java
Due: none

Fix vulnerability
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add browser logging
  .github/workflows/_playwright-test.yml
Due: none

Revert "Add browser logging"
  .github/workflows/_playwright-test.yml
Due: none

Clearning playwright cache
  .github/workflows/_playwright-test.yml
Due: none

Revert "Clearning playwright cache"
  .github/workflows/_playwright-test.yml
Due: none

Browser base setup task
  frontend/playwright.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix decision/doc_unit table ref for dup_check
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DuplicateRelationRepository.java
Due: none

Fix decision/doc_unit table ref for dup_check (#2623)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DuplicateRelationRepository.java
Due: none

Run languagetool as a compose service
  compose.yaml
  run.sh
Due: none

Fix saving of doc unit with reference source
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/SourceDTO.java
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

Fix assigning of read only location
  frontend/test/router/navigationGuards.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update dependency software.amazon.awssdk:bom to v2.30.37 (#2508)"
  backend/build.gradle.kts
Due: none

Add BAG+BPatG staging doc number patterns
  backend/src/main/resources/application-staging.yaml
Due: none

Bump languagetool
  compose.yaml
Due: none

Remove redundant e2e test jon
  .github/workflows/pipeline.yml
Due: none

Remove unused git properties
  backend/build.gradle.kts
Due: none

Revert "Update all-backend-non-major-dependencies (#2619)"
  backend/build.gradle.kts
Due: none

Remove jurimg & hfj handling from LDML transformer
  backend/src/main/resources/caselawhandover/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HtmlToAknTest.java
Due: none

Add missing e2e tests Parallelentscheidung
  frontend/test/e2e/caselaw/categories/editableLists/relatedDocumentations/active-citations.spec.ts
  frontend/test/e2e/caselaw/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip flaky test for now
  frontend/test/e2e/caselaw/periodical-evaluation/periodical-evaluations-overview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add text check feature toggle button
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/input/TextEditorMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint
