Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Fix imports and rename method RISDEV-9094
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/TextCheckResponseTransformer.java
Due: none

Revert "Update dependency gradle to v9 (#3016)"
  backend/gradle/wrapper/gradle-wrapper.properties
  compose.yaml
Due: none

Add script support to run without frontend
  README.md
  run.sh
Due: none

Update README.md
  README.md
Due: none

Update e2e test for correct error count RISDEV-9094
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adapt to existing logic
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/BulkAssignProcessStepRequest.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  frontend/src/components/search/shared/ResultList.vue
  frontend/src/services/documentUnitService.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused component
  frontend/src/components/UpdateProcessStepInSearchDialog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix services list
  run.sh
Due: none

Add optional dev running with language tool
  README.md
  run.sh
Due: none

Replace tippy
  frontend/src/components/input/TextEditor.vue
  frontend/test/test-helper/useBubbleMenuMock.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update to tiptap v3
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/indent.ts
  frontend/test/test-helper/useBubbleMenuMock.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update package json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Remove duplication playwright core versions
  frontend/package-lock.json
  package-lock.json
Due: frontend-prettier, frontend-eslint

Fix tests
  frontend/test/editor/tableStyleExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update component wording RISDEV-9094
  frontend/src/components/text-check/HandoverTextCheckView.vue
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update language tool image local setup
  compose.yaml
Due: none

Add renovate labels to all related prs
  renovate.json5
Due: none

Display multiple regions (Todo: Tests)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CourtDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseCourtRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CourtTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CourtService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/court/Court.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/domain/court.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert accidental change
  backend/build.gradle.kts
Due: none

Restructure frontend components
  frontend/src/components/AssignProcessStep.vue
  frontend/src/components/BulkAssignProcessStep.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/search/shared/ResultList.vue
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix trigger search
  frontend/src/components/search/shared/ResultList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Generate dynamic success message
  frontend/src/components/BulkAssignProcessStep.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable button when no processstep selected
  frontend/src/components/AssignProcessStep.vue
  frontend/src/components/input/InputField.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix template styling for menu item
  frontend/src/components/BulkAssignProcessStep.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix bulk assign without user
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDocumentationUnitService.java
Due: none

Update .trivyignore
  .trivyignore
Due: none

Init: move category and matches
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test
  frontend/test/editor/commands/textCheckService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Clear process steps when assigning new docoffice
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Seperate tests into two cateogries
  frontend/src/stores/documentUnitStore.ts
  frontend/test/editor/commands/textCheckService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e tests
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tag
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not set initial user for eurlex or Fremdanlage
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Add matches clear on un- / load test
  frontend/src/stores/documentUnitStore.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Centralize text cateorgy matchs to store (#3191)
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Centralize text cateorgy matchs to store (#3191)"
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not set initial user for eurlex or Fremdanlage (#3192)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Reapply "Centralize text cateorgy matchs to store (#3191)"
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/textCheck.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
  frontend/test/stores/documentUnitStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
