Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Remove unused controller endpoints, rename controller
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitProcessStepController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/ProcessStepController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationOfficeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationOfficeDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationOfficeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitProcessStepRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationOfficeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationOfficeService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitProcessStepService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitProcessStepServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitProcessStepIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcessStepIntegrationTest.java
Due: none

Fix type and linter issues in frontend
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/domain/decision.ts
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust frontend process step service to controller changes
  frontend/src/components/CurrentAndLastProcessStepBadge.vue
  frontend/src/services/processStepService.ts
  frontend/test/services/processStepService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix tests
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/test/components/updateProcessStepDialog.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
  frontend/test/services/processStepService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused hashCode/equals
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DefinitionDTO.java
Due: none

Fix unit test
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust controller method and fix tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/ProcessStepController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitProcessStepRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/AuthUtils.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitProcessStepTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcessStepIntegrationTest.java
Due: none

Add review findings
  .idea/runConfigurations/Run_backend.xml
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/ProcessStepController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationOfficeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationOfficeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationOfficeService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcessStepIntegrationTest.java
Due: none

Fix unit test
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix service tets, use argument captors
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Fix transformer test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Undo review changes, to calm architecture test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationOfficeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationOfficeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationOfficeService.java
Due: none

Fix category import bugs
  frontend/src/components/LegislativeMandate.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add defintion e2e
  frontend/test/e2e/caselaw/decision/categories/editableLists/definition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add definitions category (#2984)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DefinitionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ContentRelatedIndexing.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Definition.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  frontend/src/components/BorderNumberLinkView.vue
  frontend/src/components/DefinitionInput.vue
  frontend/src/components/DefinitionList.vue
  frontend/src/components/DefinitionSummary.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/LegislativeMandate.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/domain/contentRelatedIndexing.ts
  frontend/src/domain/decision.ts
  frontend/src/domain/definition.ts
  frontend/test/components/definitionList.spec.ts
  frontend/test/components/other-categories.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/definition.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/pending-proceeding/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix definition e2e
  frontend/test/e2e/caselaw/decision/categories/editableLists/definition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused userId
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitProcessStepServiceTest.java
Due: none

Zuletzt -> Gespeichert + margin fix
  frontend/src/components/CurrentAndLastProcessStepBadge.vue
  frontend/src/components/SaveDocumentUnitButton.vue
  frontend/test/e2e/caselaw/decision/categories/saving-behaviour.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update dependency gradle to v9 (#2992)"
  backend/gradle/wrapper/gradle-wrapper.properties
Due: none

Use new colors for process steps
  backend/build.gradle.kts
  frontend/src/components/IconBadge.vue
  frontend/src/composables/useProcessStepBadge.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix status badge classes
  frontend/src/components/CurrentAndLastProcessStepBadge.vue
  frontend/src/components/DecisionSummary.vue
  frontend/src/components/DefaultSummary.vue
  frontend/src/components/DefinitionSummary.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentationUnitSummary.vue
  frontend/src/components/IconBadge.vue
  frontend/src/components/NavbarTop.vue
  frontend/src/components/NormReferenceSummary.vue
  frontend/src/components/ReferenceSummary.vue
  frontend/src/components/SearchResultList.vue
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/components/category-import/SingleCategory.vue
  frontend/src/components/search/shared/ResultList.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/composables/useProcessStepBadge.ts
  frontend/src/composables/useStatusBadge.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip languagetool and importer tests in local env
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/resources/application-local.yaml
  backend/src/main/resources/application.yaml
  compose.yaml
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/decision/handover/handover-imported-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/text-check/global-ignore.spec.ts
  frontend/test/e2e/caselaw/text-check/text-check-category.spec.ts
  run.sh
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add process step drop box
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/ProcessStepController.java
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/services/comboboxItemService.ts
  frontend/src/services/processStepService.ts
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Add process step drop box"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/ProcessStepController.java
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/services/comboboxItemService.ts
  frontend/src/services/processStepService.ts
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Downgrade node and typescript version
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Set process step based on docunit origin
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresProcessStepRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Update node version
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/test/editor/tableStyleExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Set process step based on docunit origin (#2999)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresProcessStepRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProcessStepService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Revert "Update dependency node to v22.18.0 (#2993)"
  .github/workflows/frontend-checks.yml
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
  frontend/test/editor/tableStyleExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add process steps select to dialog again
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/ProcessStepController.java
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/src/services/comboboxItemService.ts
  frontend/src/services/processStepService.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
  frontend/test/components/updateProcessStepDialog.spec.ts
  frontend/test/e2e/caselaw/auth.setup.ts
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
  frontend/test/services/processStepService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test errors
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcessStepIntegrationTest.java
  frontend/src/services/processStepService.ts
  frontend/test/components/updateProcessStepDialog.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix another frontend test
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Some little optimizations
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/test/e2e/caselaw/process-steps/process-steps.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

ProcessStepDialog Refactoring
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add file exists check for auth files
  frontend/test/e2e/caselaw/auth.setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Process Step Update Confirm Toast
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/UpdateProcessStepDialog.vue
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
  frontend/test/components/documentUnit/updateProcessStepModal.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix missing dependency in controller test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageCodeControllerTest.java
Due: none
