Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Fix history log & remove deprecated file api
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3Bucket.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
Due: none

Fix description for Originaldokument
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add cron jobs to rename s3 files
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Make code more robust
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
Due: none

Fix sonar
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Add e2e test step
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Unify logging keys and fix tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Fix sonar
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
Due: none

Change error status
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Fix DocumentationUnitControllerDocxIT
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
Due: none

Fix typo
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
Due: none

Remove unneeded eslint ignores
  frontend/test/e2e/caselaw/periodical-evaluation/add-new-reference-for-same-docunit.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[RISDEV 10975] error handling (#3728)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Bump @digitalservicebund/ris-ui to 3.21.3
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix history log & remove deprecated file api (#3729)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3Bucket.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove stylelint-bem
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Force stylelint-order version to one supporting 17
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Refactoring based on code review
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AttachmentRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Make architecture fitness test happy
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/TempAttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Admin endpoint for filling published table
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/AdminController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseStatusRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PublishedDocumentationSnapshotEntity.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PublishedDocumentationSnapshotRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/publication/PortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
Due: none

Extract inline attachment domain object
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresAttachmentInlineRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/AttachmentInlineTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentInline.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentInlineRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
Due: none

Rewire reference mapping for ULI tables
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ActiveCitationUliDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CaselawReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDependentLiteratureCitationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabasePassiveCitationUliRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DependentLiteratureActiveCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LiteratureReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PassiveCitationUliDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PassiveCitationUliTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Remove unused fields and methods
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
Due: none

Disable jobs for non-staging envs
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/AdminControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
Due: none

Fix word breaking
  frontend/src/components/management-data/DocumentUnitHistoryLog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update break
  frontend/src/components/management-data/DocumentUnitHistoryLog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix ULI table persistence and ranking for editions
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PassiveCitationUliTransformer.java
Due: none

[FIX] Fix word breaking (#3740)
  frontend/src/components/management-data/DocumentUnitHistoryLog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename Anhang to Datei
  frontend/src/components/AttachmentList.vue
  frontend/test/a11y/caselaw/documents.spec.ts
  frontend/test/components/decision/decisionOriginalDocumentAttachments.spec.ts
  frontend/test/e2e/caselaw/decision/documents/file-upload.spec.ts
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3RenamingServiceTest.java
Due: none

Add some tests
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/publication/PortalPublicationService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationIntegrationTest.java
Due: none

Fix formatting
  README.md
Due: none

Admin endpoint for filling published table (#3737)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/AdminController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseStatusRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PublishedDocumentationSnapshotEntity.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PublishedDocumentationSnapshotRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/publication/PortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/AdminControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationIntegrationTest.java
Due: none

Remove unused method
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
Due: none

Fix tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PassiveCitationUliDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Change wording in attachment dialog
  frontend/src/components/AttachmentList.vue
  frontend/test/a11y/caselaw/documents.spec.ts
  frontend/test/components/decision/decisionOriginalDocumentAttachments.spec.ts
  frontend/test/e2e/caselaw/decision/documents/file-upload.spec.ts
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix a11y
  frontend/test/a11y/caselaw/documents.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
