Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Add to e2e test and implement missing requirements
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/test/e2e/caselaw/decision/categories/editableLists/non-application-norms.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

FIx code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/NormReferenceType.java
Due: none

Fix category importer and add tests for it
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update playwright
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Code review improvements, append e2e-test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationService.java
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/PendingProceedingInput.vue
  frontend/src/components/SearchResultList.vue
  frontend/src/components/publication/PublicationActions.vue
  frontend/test/e2e/caselaw/decision/categories/editableLists/relatedDocumentations/related-pending-proceedings.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add * to required attributes of pending proceeding
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test
  frontend/test/components/texts/pendingProceedingTexts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e test
  frontend/test/e2e/caselaw/decision/categories/editableLists/object-value.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Purge and install
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Extract CaselawReference class
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/CaselawReference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/Rechtszug.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DocumentationUnitLdmlTransformer.java
Due: none

Add ldml for verknüpftes anhaengiges verfahren
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/AnhaengigesVerfahren.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/ImplicitReference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Refactor test utils
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/test-helper/listUtils.ts
  frontend/test/test-helper/tableUtil.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove removed field from tests
  frontend/test/components/nomReference/normInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Risdev 8678 verknuepfung anhaengige verfahren ldml (#3529)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/AnhaengigesVerfahren.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/CaselawReference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/ImplicitReference.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/analysis/Rechtszug.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DocumentationUnitLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Fix name of listUtil
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/test-helper/listUtil.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix readme
  frontend/README.md
Due: none

[RISDEV-9334] Add buttons for ordered list styles (#3513)
  frontend/README.md
  frontend/src/components/input/TextEditorButton.vue
  frontend/src/components/input/TextEditorMenu.vue
  frontend/src/editor/orderedList.ts
  frontend/src/styles/lists.css
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/test-helper/listUtil.ts
  frontend/test/test-helper/tableUtil.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e test
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add some unit tests
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Undo renaming
  frontend/src/components/DocumentUnitContentRelatedIndexing.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/norms/NonApplicationNorms.vue
  frontend/src/components/norms/NormReferenceInput.vue
  frontend/src/components/norms/NormReferenceSummary.vue
  frontend/src/components/norms/NormReferences.vue
  frontend/src/components/norms/Norms.vue
  frontend/src/components/norms/NormsList.vue
  frontend/test/components/nomReference/normInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix and ignore code smells
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/norms/NormReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Address review feedback
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Only allow abuse fees for constitutional courts (#3532)
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/data/constitutionalCourtTypes.json
  frontend/src/domain/court.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/nomReference/normReferenceInput.spec.ts
  frontend/test/components/otherCategories.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/core-data.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/abuse-fee.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/income-types.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add test
  frontend/test/editor/tableExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add category import unit test
  frontend/test/components/category-import/categoryImport.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix lists.spec
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add CustomTableView because of resizable problems (#3488)
  frontend/src/editor/table.ts
  frontend/test/editor/tableExtension.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unnecessary util function
  frontend/test/e2e/caselaw/decision/categories/editableLists/non-application-norms.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing colon in label (functional review)
  frontend/src/components/publication/PublicationActions.vue
  frontend/test/components/publication/publicationActions.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/relatedDocumentations/related-pending-proceedings.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust DTO comments
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AbstractNormReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/NonApplicationNormDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/NormReferenceDTO.java
Due: none

Non-application norm (Nichtanwendungsgesetz) (#3531)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/NormReferenceType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AbstractNormReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalForceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/NonApplicationNormDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/NormReferenceTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/SingleNormTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ContentRelatedIndexing.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/NonApplicationNormTransformerTest.java
  backend/src/test/resources/legal_force_init.sql
  frontend/src/components/DocumentUnitContentRelatedIndexing.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/enumDocumentUnitCategories.ts
  frontend/src/components/norms/NonApplicationNorms.vue
  frontend/src/components/norms/NormReferenceInput.vue
  frontend/src/components/norms/NormReferenceSummary.vue
  frontend/src/components/norms/NormReferences.vue
  frontend/src/components/norms/Norms.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/domain/contentRelatedIndexing.ts
  frontend/src/domain/decision.ts
  frontend/src/domain/normReference.ts
  frontend/test/components/category-import/categoryImport.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/nomReference/normInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/non-application-norms.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove usage of type attribute
  frontend/src/editor/orderedList.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix editable lists test
  frontend/test/e2e/caselaw/decision/categories/editableLists/editable-lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

E2E test update
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

E2E test update
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit tests
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/test-helper/tableUtil.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonarqube error
  frontend/src/editor/orderedList.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
