Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add checkbox for filter logic
  frontend/src/components/search/shared/SearchForm.vue
  frontend/src/types/documentationUnitSearchParameter.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix status search e2e test
  frontend/test/e2e/caselaw/decision/search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review Feedback + fix tests (#3120)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  frontend/src/components/search/shared/SearchForm.vue
  frontend/src/types/documentationUnitSearchParameter.ts
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/e2e/caselaw/decision/search.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e test
  frontend/test/e2e/caselaw/decision/search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update node and fe libs
  .github/workflows/frontend-checks.yml
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Cleanup PortalPublicationServiceTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
Due: none

Add frontend tests
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/e2e/caselaw/decision/search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Backend tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Add performance test
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix bug
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
Due: none

Finish PortalPublicationServiceTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
Due: none

Fix process step query parameter
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing assignment for assignToMe
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
Due: none

Address sonar issues in fe
  frontend/src/components/NavbarTop.vue
  frontend/test/components/navbarTop.spec.ts
  frontend/test/components/search/shared/resultList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove Feature Toggle
  frontend/src/components/DocumentUnitInfoPanel.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix PortalPublicationServiceTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
  frontend/src/domain/env.ts
  frontend/src/services/adminService.ts
  frontend/src/stores/sessionStore.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/navbarTop.spec.ts
  frontend/test/stores/sessionStore.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Add h1 to search for screenreaders only
  frontend/src/routes/caselaw/search/index.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add h1 to search for screenreaders only (#3123)
  frontend/src/routes/caselaw/search/index.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add backend logic for unassigned filter
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Add frontend logic for unassigned filter
  frontend/src/components/search/shared/SearchForm.vue
  frontend/src/types/documentationUnitSearchParameter.ts
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/e2e/caselaw/decision/search.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Be (WIP)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationIntegrationTest.java
Due: none

Add DatabaseUserService
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/AuthController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseUserService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/KeycloakUserService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseUserRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresUserRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/UserDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/UserTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/User.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/UserRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/UserService.java
Due: none

Add MDC filter for logging decoration
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/SecurityConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilterTest.java
Due: none

Add MDC filter for logging decoration (#3126)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/SecurityConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilterTest.java
Due: none

Tech review findings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

'Nur mir zugewiesen' Suchfilter (#3121)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  frontend/src/components/search/shared/SearchForm.vue
  frontend/src/types/documentationUnitSearchParameter.ts
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/e2e/caselaw/decision/search.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip test for now
  frontend/test/e2e/caselaw/decision/search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix merge
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Improve frontend test coverage
  frontend/test/components/search/shared/searchForm.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

'Niemandem zugewiesen' Suchfilter (#3124)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitSearchInput.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  frontend/src/components/search/shared/SearchForm.vue
  frontend/src/types/documentationUnitSearchParameter.ts
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/e2e/caselaw/decision/search.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix PortalPublicationIntegrationTest
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ManagementDataTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationIntegrationTest.java
Due: none

Skip e2e test for now
  frontend/test/e2e/caselaw/decision/search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use users external id for lookup
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/AuthController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/BareIdUserApiService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseUserService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/KeycloakUserService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseUserRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresUserRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/UserDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/UserTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/User.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/UserRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/UserService.java
Due: none

Add retry for reference deletion in fixture
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Log e2e test name via custom header
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/RequestLoggingFilterConfig.java
  backend/src/main/resources/application-staging.yaml
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilterTest.java
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Log e2e test name via custom header (#3131)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/RequestLoggingFilterConfig.java
  backend/src/main/resources/application-staging.yaml
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/config/MdcLoggingFilterTest.java
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
