Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Fix package lock json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

coverage-istanbul reporter (#2895)
  allowed-licenses.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Move kind from DocumentationUnitCreationParameters
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitCreationParameters.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/CreateNewFromSearch.vue
  frontend/src/components/DocumentUnitSearch.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/routes/caselaw/documentUnit/new.vue
  frontend/src/routes/caselaw/index.vue
  frontend/src/routes/caselaw/pending-proceeding/new.vue
  frontend/src/services/documentUnitService.ts
  frontend/src/types/documentationUnitCreationParameters.ts
  frontend/test/components/createNewFromSearch.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust Anh test-docnumber-Pattern, Fix be tests
  backend/src/main/resources/application-production.yaml
  backend/src/main/resources/application-staging.yaml
  backend/src/main/resources/application-uat.yaml
Due: none

Fix DocumentNumberPatternConfigStagingTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfigStagingTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Fix docNumber-Pattern in application.yaml
  backend/src/main/resources/application.yaml
Due: none

Set fixed documentType for new PendingProceeding
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Fix DocumentationUnitServiceTest, etc
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Retry search on exception
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Revert "coverage-istanbul reporter (#2895)"
  allowed-licenses.json
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Pin node version also in CI
  .github/workflows/frontend-checks.yml
Due: none

Revert "Update all-frontend-non-major-dependencies (#2888)"
  .github/workflows/frontend-checks.yml
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Retry search on exception (#2896)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Add tests and cleanup
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/resources/application.yaml
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/services/documentUnitService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update all-backend-non-major-dependencies (#2901)"
  backend/build.gradle.kts
Due: none

Reapply "Update all-backend-non-major-dependencies (#2901)"
  backend/build.gradle.kts
Due: none

Fix e2e authorization.spec.ts
  frontend/test/e2e/caselaw/authorization.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add 'create new' feature for pending proceeding (#2883)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentTypeRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentTypeService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
  backend/src/main/resources/application-production.yaml
  backend/src/main/resources/application-staging.yaml
  backend/src/main/resources/application-uat.yaml
  backend/src/main/resources/application.yaml
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentNumberPatternConfigStagingTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentTypeIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/resources/application.yaml
  frontend/src/components/CreateNewFromSearch.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/routes/caselaw/pending-proceeding/new.vue
  frontend/src/services/documentUnitService.ts
  frontend/test/e2e/caselaw/authorization.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/managementdata/history-logs.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/management-data.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/preview.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/docunit-creation-from-evaluation.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
  frontend/test/e2e/caselaw/preview.spec.ts
  frontend/test/services/documentUnitService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix fixtures.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix failing firefox e2e tests
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/management-data.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Show raw value for source if no value
  frontend/src/components/management-data/ManagementDataMetadata.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add unit tests
  frontend/test/components/management-data/managementDataMetadata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Show raw value for source if no value (#2904)
  frontend/src/components/management-data/ManagementDataMetadata.vue
  frontend/test/components/management-data/managementDataMetadata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Hide attachment icon for only image attachments
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
Due: none

Add category import for pending proceeding
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/input/types.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Move transformers to ldml sub package
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/CommonPortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/PortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/PrototypePortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PortalTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PrototypePortalTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

[WIP] add search for pending proceeding
  frontend/src/components/NavbarTop.vue
  frontend/src/components/search/Decision.vue
  frontend/src/components/search/PendingProceeding.vue
  frontend/src/components/search/shared/ResultList.vue
  frontend/src/components/search/shared/SearchForm.vue
  frontend/src/routes/caselaw/index.vue
  frontend/src/routes/caselaw/search/[tab].vue
  frontend/src/routes/caselaw/search/index.vue
  frontend/src/routes/index.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Filter search results by kind
  frontend/src/components/search/Decision.vue
  frontend/src/components/search/PendingProceeding.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix eslint issues
  frontend/src/components/search/DecisionSearch.vue
  frontend/src/components/search/PendingProceedingSearch.vue
  frontend/src/types/documentationUnitSearchParameter.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not search immediately
  frontend/src/components/search/shared/SearchForm.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update imports
  frontend/src/routes/caselaw/search/index.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit tests
  frontend/test/components/documentUnit/decisionSearch.spec.ts
  frontend/test/components/navbarTop.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Move transformers to ldml sub package (#2911)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/CommonPortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/PortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/PrototypePortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PortalTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PrototypePortalTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

Add tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CommonPortalPublicationService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

Rename decision portal transformers
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DecisionCommonPortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DecisionPortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DecisionPrototypePortalTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionPortalTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionPrototypePortalTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

Simplify save to bucket method
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CommonPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3Bucket.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
Due: none

Strip API url from img src on ldml export
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PortalTransformerTest.java
Due: none
