Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add useAttachments.spec.ts
  frontend/src/composables/useAttachments.ts
  frontend/test/composables/useAttachments.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix index issue on delete
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use Dialog instead of PopupModal
  frontend/src/components/AttachmentList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update ADR after discussion on thursday
  doc/adr/0025-use-multiple-tables-for-citations.md
Due: none

Inital commit
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/PreProcessService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/RulebasedExtractionController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/RulebasedExtractionService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/extraction/rulebased/ExtractionMatch.java
Due: none

Add ExtractionHighlight extension to TextEditor
  frontend/src/components/extraction/ExtractionHighlight.ts
  frontend/src/components/extraction/ExtractionHighlight.vue
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add useExtractions hook in AttachmentView
  frontend/src/components/AttachmentView.vue
  frontend/src/components/extraction/types.ts
  frontend/src/components/extraction/useExtractions.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add RulebasedExtraction in Java (wip)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/HtmlParser.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/PatternMatching.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/PreProcessService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/RulebasedExtractionController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/RulebasedExtractionService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/RulesetModule.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/SectionBuilderModule.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/TargetPathModule.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/Types.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/Utils.java
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/_schema.json
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/bfh.json
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/bgh.json
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/bverfg.json
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/ner.json
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/norms.json
  backend/src/main/resources/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/rulesets/section_markers.json
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/PatternMatcherTest.java
  frontend/src/components/AttachmentView.vue
  frontend/src/components/extraction/ExtractionHighlight.ts
  frontend/src/components/extraction/ExtractionHighlight.vue
  frontend/src/components/extraction/types.ts
  frontend/src/components/extraction/useExtractions.ts
  frontend/src/services/extractionService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Handle fields w/ objects in ExtractionHighlight
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/extraction/rulebased/TargetPathModule.java
  frontend/src/components/AttachmentView.vue
  frontend/src/components/ComboboxInput.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/EditableList.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/PreviousDecisions.vue
  frontend/src/components/extraction/ExtractionHighlight.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

New way to construct s3 path
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/AttachmentInlineTransformer.java
Due: none

Update schema version
  backend/build.gradle.kts
Due: none

Fixes UI issue, add test
  frontend/src/components/AttachmentList.vue
  frontend/src/composables/useAttachments.ts
  frontend/src/i18n/errors.json
  frontend/test/components/decision/decisionAttachments.spec.ts
  frontend/test/composables/useAttachments.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar issue in fe
  frontend/src/services/attachmentService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove flyway script
  backend/src/main/resources/db-scripts/migration/V1.20__add_attachment_type_column.sql
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

More test tagging
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix file download locally
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
Due: none

Fix for new sonar rules
  frontend/src/editor/commands/addBorderNumbers.ts
  frontend/src/services/attachmentService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add missing IntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  frontend/test/services/attachmentService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Refactor tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Update migration version
  backend/build.gradle.kts
Due: none

Small updates
  doc/adr/0025-define-domain-exceptions-handling.md
Due: none

Fix file deletion (WIP)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
  frontend/src/composables/useAttachments.ts
  frontend/src/services/attachmentService.ts
  frontend/test/composables/useAttachments.spec.ts
  frontend/test/e2e/caselaw/decision/documents/other-attachments.spec.ts
  frontend/test/services/attachmentService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix DocumentationUnitControllerAuthTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/authorization/DocumentationUnitControllerAuthTest.java
Due: none

Fix DocumentationUnitControllerDocxFilesITest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
Due: none

Fix file-upload.spec.ts
  frontend/test/e2e/caselaw/decision/documents/file-upload.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Bump chainguard-dev/actions from 1.5.12 to 1.5.13 (#3711)"
  .github/workflows/pipeline.yml
Due: none

Add test for external user
  frontend/test/e2e/caselaw/decision/documents/file-upload.spec.ts
  frontend/test/e2e/caselaw/external-user.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add dependabot automerge action
  .github/workflows/automerge-dependabot-prs.yml
Due: none

Restrict download api to write access
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Bump chainguard images
  backend/Dockerfile.prod
  frontend/Dockerfile.prod
Due: none

Convert scss to css
  frontend/src/editor/textCheckMark.ts
  frontend/src/styles/text-check.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replace more scss with plain css
  frontend/src/components/AttachmentView.vue
  frontend/src/components/CodeSnippet.vue
  frontend/src/components/TokenizeText.vue
  frontend/src/components/input/FileInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove sass and scss tooling
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

remove-scss-and-sass (#3716)
  frontend/.stylelintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AttachmentView.vue
  frontend/src/components/CodeSnippet.vue
  frontend/src/components/TokenizeText.vue
  frontend/src/components/input/FileInput.vue
  frontend/src/editor/textCheckMark.ts
  frontend/src/styles/text-check.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Put the auto in auto-merge
  .github/workflows/automerge-dependabot-prs.yml
Due: none

Fix sonar issues in S3AttachmentServiceTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
Due: none

Update bump images action to use new version
  .github/workflows/bump_images.yml
Due: none

Update bump images action to use new version (#3718)
  .github/workflows/bump_images.yml
Due: none
