Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add unit tests for reference route
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add management data to parent domain
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
Due: none

Show management data for pending proceeding
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/composables/usePendingProceedingMenuItems.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber]/managementdata.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Transform management data to domain
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ManagementDataTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
Due: none

Update fe dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Update playwright to 1.53.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Pin playwright to 1.52.0
  frontend/package-lock.json
  frontend/package.json
  renovate.json5
Due: frontend-prettier, frontend-eslint

Update node to 22.16.0
  frontend/package-lock.json
  frontend/package.json
  renovate.json5
Due: frontend-prettier, frontend-eslint

Remove node version pin
  renovate.json5
Due: none

Update languagetool image locally
  compose.yaml
Due: none

Add history logs for scheduled publication
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HistoryLogServiceTest.java
Due: none

Enrich inbox e2e test
  frontend/test/e2e/caselaw/inbox.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix inbox e2e flakiness (#2855)
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/inbox/shared/InboxSearch.vue
  frontend/test/e2e/caselaw/inbox.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add route and menu item for pending proceeding references (#2857)
  frontend/src/composables/usePendingProceedingMenuItems.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber]/references.vue
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update sigstore/cosign-installer digest to fb28c2b (#2859)"
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: none

Fix integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Fix route unit test
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review feedback
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  frontend/src/components/management-data/DocumentUnitManagementData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Pending proceeding management data (#2858)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ManagementDataTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/composables/usePendingProceedingMenuItems.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber]/managementdata.vue
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add management data to pending proceeding
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/ManagementDataMetadata.vue
  frontend/src/domain/pendingProceeding.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Extract Court type
  frontend/src/components/DocumentUnitSearch.vue
  frontend/src/components/input/types.ts
  frontend/src/domain/court.ts
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/documentUnitListEntry.ts
  frontend/src/domain/relatedDocumentation.ts
  frontend/src/services/comboboxItemService.ts
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/comboboxInput.spec.ts
  frontend/test/components/documentUnit/documentUnitSearch.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/components/texts/pendingProceedingTexts.spec.ts
  frontend/test/services/comboboxItemService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename Documentable to DocumentationUnit
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CommonPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/JurisXmlExporterResponseProcessor.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Decision.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckServiceTest.java
Due: none

Rename input label in reference search form
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove documentUnit.ts
  frontend/src/components/CreateNewFromSearch.vue
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/DocumentUnitSearch.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/PendingProceedingCategories.vue
  frontend/src/components/eurlex/EURLexList.vue
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/inbox/shared/InboxSearch.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/domain/decision.ts
  frontend/src/domain/documentUnit.ts
  frontend/src/domain/documentationUnitCreationParameters.ts
  frontend/src/domain/documentationUnitKind.ts
  frontend/src/domain/documentationUnitSearchParameter.ts
  frontend/src/domain/eurlex.ts
  frontend/src/domain/pendingProceeding.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
  frontend/src/services/documentUnitService.ts
  frontend/src/utils/typeGuards.ts
  frontend/test/components/createNewFromSearch.spec.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Change history logging for scheduled publication
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HistoryLogEventType.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Remove old test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HistoryLogServiceTest.java
Due: none

Rename components
  frontend/src/components/ActiveCitationSummary.vue
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/ParticipatingJudges.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/DuplicateRelationListItem.vue
  frontend/src/components/preview/DecisionPreview.vue
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/texts/DecisionAdditionalTexts.vue
  frontend/src/components/texts/DecisionLongTexts.vue
  frontend/src/components/texts/DecisionShortTexts.vue
  frontend/src/components/texts/DecisionTexts.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/attachments.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/preview.vue
  frontend/test/components/decision/decisionAttachments.spec.ts
  frontend/test/components/decision/decisionTexts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitHistoryLogIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
Due: none

Fix sonar code smell
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
Due: none

Fix PatchUpdateIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Introduce DocumentationUnit type
  frontend/src/components/DocumentUnitContentRelatedIndexing.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/ProceedingDecisions.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/input/types.ts
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/ManagementDataMetadata.vue
  frontend/src/composables/useStatusBadge.ts
  frontend/src/domain/documentation-unit.ts
  frontend/src/services/documentUnitService.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/utils/typeGuards.ts
  frontend/test/utils/typeGuards.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix Sonar (remove HistoryLogServiceTest)
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HistoryLogServiceTest.java
Due: none

Move parameters from domain to types
  frontend/src/components/CreateNewFromSearch.vue
  frontend/src/components/DocumentUnitContentRelatedIndexing.vue
  frontend/src/components/DocumentUnitHandover.vue
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentUnitSearch.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/ProceedingDecisions.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/inbox/shared/InboxSearch.vue
  frontend/src/components/input/types.ts
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/ManagementDataMetadata.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/composables/useStatusBadge.ts
  frontend/src/domain/documentationUnit.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber]/handover.vue
  frontend/src/services/documentUnitService.ts
  frontend/src/stores/documentUnitStore.ts
  frontend/src/types/documentationUnitCreationParameters.ts
  frontend/src/types/documentationUnitSearchParameter.ts
  frontend/src/utils/typeGuards.ts
  frontend/test/components/createNewFromSearch.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/queries/document_unit_search.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix timezone problem
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none
