Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Add endpoint for CollectiveAgreementIndustry
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CollectiveAgreementIndustryController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseCollectiveAgreementIndustryRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresCollectiveAgreementIndustryRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CollectiveAgreementIndustryRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CollectiveAgreementIndustryService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/CollectiveAgreementIndustryControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/CollectiveAgreementIndustryIntegrationTest.java
Due: none

Adjust frontend for CollectiveAgreement
  frontend/src/components/CollectiveAgreementInput.vue
  frontend/src/components/CollectiveAgreementSummary.vue
  frontend/src/components/CollectiveAgreements.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/domain/collectiveAgreement.ts
  frontend/src/domain/collectiveAgreementIndustry.ts
  frontend/src/domain/contentRelatedIndexing.ts
  frontend/src/services/comboboxItemService.ts
  frontend/test/components/otherCategories.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add validation for date
  frontend/src/components/CollectiveAgreementDateInput.vue
  frontend/src/components/CollectiveAgreementInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add validation for norm
  frontend/src/components/CollectiveAgreementInput.vue
  frontend/src/components/CollectiveAgreementNormInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests for collective agreement input
  frontend/test/components/collectiveAgreementInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adjust e2e test for collective agreements
  frontend/test/e2e/caselaw/decision/categories/collective-agreements.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add editable chips test
  frontend/test/e2e/caselaw/editable-chips.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix comments
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
Due: none

[RISDEV-9428] Fix patch condition (#3420)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/mapper/PatchMapperService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DatabasePatchMapperServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Omit Gerichtsort for Bundesgerichte
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DocumentationUnitLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingCommonLdmlTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
Due: none

Rename Court Tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
Due: none

Fix style
  frontend/test/e2e/caselaw/decision/portal-publication.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update to latest jsdom 27.2.0
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Run npm install
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Omit Gerichtsort for Bundesgerichte in ris:meta
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/DocumentationUnitLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionCommonLdmlTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingReducedLdmlTransformerTest.java
Due: none

Remove unused parameter
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/OriginOfTranslationTransformer.java
Due: none

Remove unused method
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingCommonLdmlTransformer.java
Due: none

Revert sonar fix
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingCommonLdmlTransformer.java
Due: none

Fix ForeignLanguageVersion
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ForeignLanguageVersionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageVersionTransformerTest.java
Due: none

Add missing * in ForeignLanguageVersion Input
  frontend/src/components/ForeignLanguageVersionInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unnecessary border in UI
  frontend/src/components/DefinitionList.vue
  frontend/src/components/ParticipatingJudges.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Refactor: add border, when insvibles active
  frontend/src/styles/invisible-characters.css
  frontend/src/styles/tables.css
Due: none

Remove unused parameter
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageVersionTransformerTest.java
Due: none

Remove unused parameter
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
Due: none

Add missing * in ForeignLanguageVersion
  frontend/src/components/ForeignLanguageVersionInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove border
  frontend/src/components/DefinitionList.vue
  frontend/src/components/ParticipatingJudges.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused parameter
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/OriginOfTranslationTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/OriginOfTranslationTransformerTest.java
Due: none

Remove unused variable
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageVersionTransformerTest.java
Due: none

Remove unused variables
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/OriginOfTranslationTransformerTest.java
Due: none

Add ADR file
  doc/adr/0025-define-domain-exceptions-handling.md
Due: none

Adjust collective agreement DTOs for new schema
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CollectiveAgreementDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CollectiveAgreementIndustryDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Adjust domain&transformer for CollectiveAgreement
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CollectiveAgreementIndustryTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CollectiveAgreementTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CollectiveAgreement.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CollectiveAgreementIndustry.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ContentRelatedIndexing.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/XmlExporterTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingReducedLdmlTransformerTest.java
Due: none

Add tarifvertrag to ldml
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/RisMeta.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Tarifvertraege.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Add assertion for rank
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageVersionTransformerTest.java
Due: none

Fix/foreign language version and minor UI issues (#3435)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ForeignLanguageVersionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ForeignLanguageVersionTransformerTest.java
  frontend/src/components/DefinitionList.vue
  frontend/src/components/ForeignLanguageVersionInput.vue
  frontend/src/components/ParticipatingJudges.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[WIP] court branch locations
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CourtController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CourtBranchLocationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseCourtBranchLocationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CoreData.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CourtService.java
  frontend/src/components/CourtBranchLocation.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/domain/coreData.ts
  frontend/src/domain/court.ts
  frontend/src/services/courtService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix importing collective agreements
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CollectiveAgreementDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CollectiveAgreementTransformer.java
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Move domain->dto for industry to transformer
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CollectiveAgreementIndustryTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CollectiveAgreementTransformer.java
Due: none
