Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Replace large with small checkboxes
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/LegislativeMandate.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/routes/kitchensink/index/checkbox.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix duplicate id in kitchensink
  frontend/src/routes/kitchensink/index/checkbox.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replace large with small checkboxes (#3628)
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/LegislativeMandate.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/routes/kitchensink/index/checkbox.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use small radio inputs
  frontend/package.json
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/routes/kitchensink/index/radio.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add lock file
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Fix duplicate id
  frontend/src/routes/kitchensink/index/radio.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix modelvalue in radio button kitchensink
  frontend/src/routes/kitchensink/index/radio.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Mark deprecated
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Update kitchensink
  frontend/src/routes/kitchensink/index/radio.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove comments
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use small radio inputs (#3629)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/routes/kitchensink/index/radio.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update methods to use patch
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix doc number test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Fix javadoc suggestion
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Use RIS-UI button for delete button
  frontend/src/components/SingleNormInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tooltip for button
  frontend/src/components/SingleNormInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Show delete entry only if max 1 singlenorm
  frontend/src/components/norms/NormReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix paddings
  frontend/src/components/SingleNormInput.vue
  frontend/src/components/norms/NormReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Mock v-directive for unit tests
  frontend/test/components/nomReference/normInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix padding in norms summary
  frontend/src/components/norms/NormReferenceSummary.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add delete logic to single norms summary
  frontend/src/components/EditableList.vue
  frontend/src/components/norms/NormReferenceSummary.vue
  frontend/src/components/norms/NormReferences.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Mock directives globally
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/appealAdmission.spec.ts
  frontend/test/components/documentUnit/assignProcessStep.spec.ts
  frontend/test/components/documentUnit/bulkAssignProcessStep.spec.ts
  frontend/test/components/documentUnit/documentUnitCategories.spec.ts
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/eurlex/eurlexSearch.spec.ts
  frontend/test/components/eurlex/eurlexSearchForm.spec.ts
  frontend/test/components/inbox/euCaselaw.spec.ts
  frontend/test/components/inbox/pendingHandover.spec.ts
  frontend/test/components/inbox/shared/inboxList.spec.ts
  frontend/test/components/inbox/shared/inboxSearch.spec.ts
  frontend/test/components/nomReference/normInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
  frontend/test/components/pending-proceeding/pendingProceedingCategories.spec.ts
  frontend/test/components/pendingProceedings.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/components/search/decisionSearch.spec.ts
  frontend/test/components/search/pendingProceedingSearch.spec.ts
  frontend/test/components/search/shared/resultList.spec.ts
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
  frontend/test/routes/periodical-evaluation/[editionId].spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Bump the all-frontend-non-major-dependencies group (#3633)"
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Revert "Bump the all-frontend-non-major-dependencies group (#3633)" (#3636)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add hover effect for single norm summary
  frontend/src/components/norms/NormReferenceSummary.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add unit test for new delete logic
  frontend/test/components/nomReference/normReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Bump globals from 16.5.0 to 17.0.0 in /frontend (#3639)"
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Revert "Bump globals from 16.5.0 to 17.0.0 in /frontend (#3639)" (#3640)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix: Tab-Navigation Eingang/Vorgänge
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/inbox/shared/InboxList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use getAllByRole instead of getAllByLabelText
  frontend/test/components/nomReference/normReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Refactor single norms deletion (#3635)
  frontend/src/components/EditableList.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/components/norms/NormReferenceInput.vue
  frontend/src/components/norms/NormReferenceSummary.vue
  frontend/src/components/norms/NormReferences.vue
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/appealAdmission.spec.ts
  frontend/test/components/documentUnit/assignProcessStep.spec.ts
  frontend/test/components/documentUnit/bulkAssignProcessStep.spec.ts
  frontend/test/components/documentUnit/documentUnitCategories.spec.ts
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/eurlex/eurlexSearch.spec.ts
  frontend/test/components/eurlex/eurlexSearchForm.spec.ts
  frontend/test/components/inbox/euCaselaw.spec.ts
  frontend/test/components/inbox/pendingHandover.spec.ts
  frontend/test/components/inbox/shared/inboxList.spec.ts
  frontend/test/components/inbox/shared/inboxSearch.spec.ts
  frontend/test/components/nomReference/normInput.spec.ts
  frontend/test/components/nomReference/normReferences.spec.ts
  frontend/test/components/pending-proceeding/pendingProceedingCategories.spec.ts
  frontend/test/components/pendingProceedings.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/components/search/decisionSearch.spec.ts
  frontend/test/components/search/pendingProceedingSearch.spec.ts
  frontend/test/components/search/shared/resultList.spec.ts
  frontend/test/components/search/shared/searchForm.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
  frontend/test/routes/periodical-evaluation/[editionId].spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix use parameter
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e prefix for auto-cleanup
  frontend/test/e2e/caselaw/decision/managementdata/delete-doc-unit-from-managementdata.spec.ts
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e prefix for auto-cleanup (#3641)
  frontend/test/e2e/caselaw/decision/managementdata/delete-doc-unit-from-managementdata.spec.ts
  frontend/test/e2e/caselaw/decision/managementdata/history-logs.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e for linked pending proceeding publication
  frontend/test/e2e/caselaw/decision/categories/editableLists/relatedDocumentations/related-pending-proceedings.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix import
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/publication/PortalPublicationService.java
Due: none

Fix EURLEX year-based test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

RISDEV-7663 Replace info modal with primevue/message (#3614)
  frontend/src/components/AssignProcessStep.vue
  frontend/src/components/BulkAssignProcedure.vue
  frontend/src/components/CreateNewFromSearch.vue
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/InfoModal.vue
  frontend/src/components/InfoModalIcon.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/category-import/SingleCategory.vue
  frontend/src/components/eurlex/EURLexSearch.vue
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/DuplicateRelationListItem.vue
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/components/periodical-evaluation/PeriodicalEditions.vue
  frontend/src/components/periodical-evaluation/handover/PeriodicalEditionHandover.vue
  frontend/src/components/periodical-evaluation/handover/PeriodicalEditionHandoverEventLog.vue
  frontend/src/components/periodical-evaluation/handover/PeriodicalEditionHandoverPreview.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/src/components/procedures/ProcedureList.vue
  frontend/src/components/publication/DecisionPublication.vue
  frontend/src/components/publication/PendingProceedingPublication.vue
  frontend/src/components/publication/PublicationActions.vue
  frontend/src/components/publication/UatTestPortalInfo.vue
  frontend/src/components/search/DecisionSearch.vue
  frontend/src/components/search/PendingProceedingSearch.vue
  frontend/src/components/text-check/HandoverTextCheckView.vue
  frontend/src/routes/kitchensink/index/infoModal.vue
  frontend/src/routes/kitchensink/index/inputMask.vue
  frontend/src/routes/kitchensink/index/inputText.vue
  frontend/src/routes/kitchensink/index/table.vue
  frontend/src/services/handoverDocumentationUnitService.ts
  frontend/src/services/httpClient.ts
  frontend/test/components/eurlex/eurlexSearch.spec.ts
  frontend/test/components/infoModal.spec.ts
  frontend/test/services/handoverDocumentationUnitService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Upadte test CSS check
  frontend/test/components/input/textEditorMenu.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix document number when year change
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
