Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Maintenance/version bump - try 2 (#3547)
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add test for disabled branch location dropdown
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Maintenance/version bump - try 2 (#3547)"
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Maintenance/version bump - try 2 (#3547)" (#3550)
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add caching for Wertetabellen endpoints
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CacheControlDefaults.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CitationTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CollectiveAgreementIndustryController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CourtController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CurrencyCodeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationOfficeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FeatureToggleController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageCodeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LegalForceTypeController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/NormAbbreviationController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/RegionController.java
Due: none

Switch deployment to use github app
  .github/workflows/pipeline.yml
Due: none

Remove check-latest-deploy-tag step
  .github/workflows/pipeline.yml
Due: none

Don't allow future date in Tarifvertrag
  frontend/src/components/CollectiveAgreementDateInput.vue
  frontend/test/components/collectiveAgreementInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix copy-paste-formatted test
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix indentation test
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/indentation.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Enable FullLdmlTransformer for dev-env
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
Due: none

Fix table test
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix ambiguous bean issue
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/PortalPublicationConfig.java
Due: none

Disable image test
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Maintenance/version bump - try 3 (#3553)
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/indentation.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Maintenance/version bump - try 3 (#3553)"
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/indentation.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Maintenance/version bump - try 3 (#3553)" (#3555)
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/indentation.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Maintenance/version bump - try 4 (#3557)
  frontend/package-lock.json
  frontend/package.json
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/border-number.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/copy-paste-formatted.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/indentation.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
  frontend/test/editor/tableExtension.spec.ts
  frontend/test/setup.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Upgrade remaining tippy dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Apply changes from old tippy PR
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/indent.ts
  frontend/src/editor/table.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix z-index problem
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add plausibility check unit test conditions
  frontend/test/components/publication/pendingProceedingPlausibilityCheck.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add plausibility check unit test conditions (#3559)
  frontend/test/components/publication/pendingProceedingPlausibilityCheck.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Only replace combobox input if store value changed
  frontend/src/components/ComboboxInput.vue
  frontend/test/components/comboboxInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test
  frontend/test/components/periodicalEvaluation/edition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove global style ignore
  frontend/src/styles/global.css
Due: none

Revert "Bump tiptap from 2.27.1 to 3.11.0 in /frontend (#3499)"
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/indent.ts
  frontend/src/editor/table.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Link list style
  frontend/src/editor/listItem.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add empty line eof
  frontend/src/styles/global.css
Due: none

Fix style for jDV and Veroffentlichen
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[FIX] Lists indentation styling (#3563)
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
  frontend/src/editor/listItem.ts
  frontend/src/styles/global.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "[FIX] Lists indentation styling (#3563)"
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
  frontend/src/editor/listItem.ts
  frontend/src/styles/global.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "[FIX] Lists indentation styling (#3563)" (#3564)
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/publication/DecisionPlausibilityCheck.vue
  frontend/src/editor/listItem.ts
  frontend/src/styles/global.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Revert "Bump tiptap from 2.27.1 to 3.11.0 in /frontend (#3499)""
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/input/TextEditor.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/indent.ts
  frontend/src/editor/table.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
