Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Adjust changelog file naming pattern
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/Changelog.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DateUtils.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/InternalPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Test 'Quelle' in preview
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/preview/decision.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Fix transforming br tags to ldml"
  backend/src/main/resources/caselawhandover/htmlToAknHtml.xslt
Due: none

Ignore duplicates when jDV dup status is set
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDuplicateCheckRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitIdDuplicateCheckDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DuplicateRelationRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckFullIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Comment tests for now
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/InternalPortalTransformerTest.java
Due: none

Comment one more test for now
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/InternalPortalTransformerTest.java
Due: none

Ignore duplicates when jDV dup status is set (#2649)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DatabaseDuplicateCheckService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDuplicateCheckRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitIdDuplicateCheckDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DuplicateRelationRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckFullIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Fix queries e2e test reporter
  frontend/test/queries/queries_log_reporter.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix timestamp in changelog file name
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/Changelog.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DateUtils.java
Due: none

Uninstall angie
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Disable ignore duplicate checkbox on dup status
  frontend/src/components/DuplicateRelationListItem.vue
  frontend/test/components/duplicateRelationListItem.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable ignore duplicate checkbox on dup status (#2652)
  frontend/src/components/DuplicateRelationListItem.vue
  frontend/test/components/duplicateRelationListItem.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Combine date dup check criteria with doc type
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDuplicateCheckRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DuplicateRelationRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckFullIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
  backend/src/test/resources/courts_init.sql
Due: none

Fix duplicates for deviating file numbers
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDuplicateCheckRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
Due: none

Combine date dup check criteria with doc type
  frontend/test/e2e/caselaw/managementdata/duplicate-check.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Pin vue-tsc version"
  renovate.json5
Due: none

Fix build
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/input/InputElement.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove dependency override
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Improve database performance settings
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/resources/application.yaml
Due: none

Fix problems in tables
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCheckService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolServiceTest.java
Due: none

Fix sonar finding
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/languagetool/LanguageToolServiceTest.java
Due: none

Replace all CheckboxInput with RISUI Checkbox
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/DuplicateRelationListItem.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/LegislativeMandate.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/components/field-of-law/FieldOfLawTree.vue
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
  frontend/src/components/input/CheckboxInput.vue
  frontend/src/components/input/InputElement.vue
  frontend/src/components/input/listInput/ListInputEdit.vue
  frontend/src/routes/kitchensink/index/checkbox.vue
  frontend/src/routes/kitchensink/index/inputField.vue
  frontend/test/components/input/checkboxInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replace TextInput with RISUI InputText component
  frontend/src/components/ActiveCitationInput.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/DocumentUnitLiteratureReferenceInput.vue
  frontend/src/components/DocumentUnitReferenceInput.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/ParticipatingJudgesInput.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/field-of-law/FieldOfLawSearchInput.vue
  frontend/src/components/input/TextInput.vue
  frontend/src/components/input/TimeInput.vue
  frontend/src/components/input/YearInput.vue
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/procedures/ProcedureList.vue
  frontend/src/components/texts/TextInputCategory.vue
  frontend/src/kitchensink/components/DummyInputGroup.vue
  frontend/src/routes/kitchensink/index/input.vue
  frontend/src/routes/kitchensink/index/inputDate.vue
  frontend/src/routes/kitchensink/index/inputText.vue
  frontend/test/components/input/textInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Temporary deactivate logDatabaseToBucketDiff
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Use InputMask for time, year, date inputs
  frontend/src/components/ActiveCitationInput.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/DocumentUnitSearchEntryForm.vue
  frontend/src/components/EnsuingDecisionInputGroup.vue
  frontend/src/components/PreviousDecisionInputGroup.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/components/input/DateInput.vue
  frontend/src/components/input/InputElement.vue
  frontend/src/components/input/TimeInput.vue
  frontend/src/components/input/YearInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/routes/kitchensink/index/inputDate.vue
  frontend/src/routes/kitchensink/index/inputMask.vue
  frontend/test/components/input/timeInput.spec.ts
  frontend/test/components/input/yearInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Improve FieldOfLaw score calculation
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/FieldOfLawService.java
Due: none

Review findings
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Log Portal publication vs Rii
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PortalPublicationJobRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationServiceTest.java
Due: none

Ignore sonar
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Postpone schedule for logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none

Add dissenting opinion test
  frontend/test/components/documentUnit/documentUnitTexts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Renaming text check service
  frontend/src/components/text-check/DocumentationUnitTextCheckSummary.vue
  frontend/src/components/text-check/HandoverTextCheckView.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/services/textCheckService.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/text-check/handoverTextCheckView.spec.ts
  frontend/test/editor/commands/textCheckService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Renaming text check
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/components/text-check/DocumentationUnitTextCheckSummary.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/components/text-check/MatchNavigator.vue
  frontend/src/components/text-check/SuggestionGroup.vue
  frontend/src/components/text-check/TextCheckModal.vue
  frontend/src/editor/commands/textCheckCommands.ts
  frontend/src/editor/textCheckExtension.ts
  frontend/src/editor/textCheckMark.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/services/textCheckService.ts
  frontend/src/types/textCheck.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/text-check/handoverTextCheckView.spec.ts
  frontend/test/test-helper/text-check-service-mock.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
Due: none

Update import order
  frontend/src/components/ExtraContentSidePanel.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Trigger logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/PublicPortalPublicationService.java
Due: none
