Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Simplify code
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
Due: none

Order citations by rank
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
Due: none

Mark citation type as nullable
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CaselawCitationBlindlinkDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CaselawCitationLinkDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ActiveCitationTransformer.java
Due: none

Manually manage uuids for creation as well
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
Due: none

Reference source and target using id
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ActiveBlindlinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ActiveCitationTransformer.java
Due: none

Add integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
Due: none

Fix checkbox label size
  frontend/src/components/field-of-law/FieldOfLawTree.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

RISDEV-10641 DTOs & Transformer for new citation tables (#3657)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ActiveBlindlinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AssignedIdOrUuid.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AssignedIdOrUuidGenerator.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/RelatedDocumentationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ActiveCitationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
Due: none

Remove wrong optional indicators
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ActiveBlindlinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LinkCaselawCitationDTO.java
Due: none

Read active citations from new tables
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ActiveBlindlinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ActiveCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LinkCaselawCitationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ActiveCitationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/test/resources/active_citations_cleanup.sql
  backend/src/test/resources/active_citations_init.sql
Due: none

Fix tab order in radio group
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update ris-ui
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add gif and bmp to DocxConverterService
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterServiceTest.java
Due: none

Update single norm template
  frontend/src/components/SingleNormInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Functional review feedback from ux backlog tickets (#3680)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/SingleNormInput.vue
  frontend/src/components/field-of-law/FieldOfLawExpandableContainer.vue
  frontend/src/components/field-of-law/FieldOfLawTree.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replace custom tooltips with primevue directive
  frontend/src/components/ActiveCitationSummary.vue
  frontend/src/components/AttachmentList.vue
  frontend/src/components/CopyableLabel.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/PrevNextNavigation.vue
  frontend/src/components/SideToggle.vue
  frontend/src/components/field-of-law/FieldOfLawSummary.vue
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
  frontend/src/components/input/TextEditorButton.vue
  frontend/src/components/periodical-evaluation/PeriodicalEditions.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/routes/kitchensink/index/tooltip.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Primevues v-directive is mocked globally
  frontend/test/components/documentUnit/documentUnitList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove custom Tooltip component
  frontend/src/components/Tooltip.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add sidepandel shortcut
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/SideToggle.vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Create an ADR for the references topic
  doc/adr/0025-use-multiple-tables-for-citations.md
Due: none

Remove tooltip test
  frontend/test/components/tooltip.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix layout, buttons of field of law summary
  frontend/src/components/field-of-law/FieldOfLawSummary.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Prevent handover published with images in frontend
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CaselawExceptionHandler.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverNotAllowedException.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
  frontend/src/components/DocumentUnitHandover.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/services/handoverDocumentationUnitService.ts
  frontend/src/services/httpClient.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[WIP] Frontend tests
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix Backend tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseAttachmentInlineRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresAttachmentInlineRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/publication/PortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentInlineRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailServiceUATTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/XmlMailServiceProdTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationIntegrationTest.java
Due: none

Improved comments and naming
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverNotAllowedException.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
Due: none

Use message component for category import errors
  frontend/src/components/category-import/CategoryImport.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Increase width of error message box
  frontend/src/components/field-of-law/FieldsOfLaw.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix fe tests
  frontend/src/components/HandoverDecisionView.vue
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Download not working
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/AttachmentTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Attachment.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StreamedFile.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/StreamedFileResponseDto.java
Due: none

Prevent handover of published doc units with images (#3685)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseAttachmentInlineRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresAttachmentInlineRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/publication/PortalPublicationService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentInlineRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverNotAllowedException.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailServiceUATTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/PortalPublicationServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/XmlMailServiceProdTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PortalPublicationIntegrationTest.java
  frontend/src/components/DocumentUnitHandover.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/services/handoverDocumentationUnitService.ts
  frontend/src/services/httpClient.ts
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add handover with images e2e test
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Apply review comments
  frontend/src/editor/table.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replace wrong tags
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/lists.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/table.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Restore comments
  frontend/src/components/CopyableLabel.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use PrimeVue Tooltips (#3683)
  frontend/src/components/ActiveCitationSummary.vue
  frontend/src/components/AttachmentList.vue
  frontend/src/components/CopyableLabel.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/PrevNextNavigation.vue
  frontend/src/components/SideToggle.vue
  frontend/src/components/Tooltip.vue
  frontend/src/components/field-of-law/FieldOfLawSummary.vue
  frontend/src/components/field-of-law/FieldOfLawTreeNode.vue
  frontend/src/components/input/TextEditorButton.vue
  frontend/src/components/periodical-evaluation/PeriodicalEditions.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/components/text-check/MatchLinkingButton.vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
  frontend/src/routes/kitchensink/index/tooltip.vue
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/tooltip.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e tests
  frontend/src/components/periodical-evaluation/PeriodicalEditions.vue
  frontend/test/e2e/caselaw/decision/handover/handover-imported-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/periodical-evaluations-overview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip failing tset for now
  frontend/test/e2e/caselaw/decision/handover/handover-imported-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Unskip and fix failing test
  frontend/src/components/CopyableLabel.vue
  frontend/test/e2e/caselaw/decision/handover/handover-imported-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
