Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Load secrets using spring.config.import
  backend/src/main/resources/application-dev-env.yaml
  backend/src/main/resources/application-production.yaml
  backend/src/main/resources/application-staging.yaml
  backend/src/main/resources/application-uat.yaml
  backend/src/main/resources/application.yaml
  backend/src/main/resources/bootstrap.yaml
Due: none

Only load spring config from k8s when in k8s
  backend/src/main/resources/application-dev-env.yaml
  backend/src/main/resources/application-production.yaml
  backend/src/main/resources/application-staging.yaml
  backend/src/main/resources/application-uat.yaml
  backend/src/main/resources/application.yaml
Due: none

Revert "Bump the all-frontend-non-major-dependencies group (#3607)"
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Use spring-boot-starter-session-data-redis
  backend/build.gradle.kts
Due: none

Adjust ChipsYearInput to work with numbers
  frontend/src/components/input/ChipsYearInput.vue
  frontend/src/domain/coreData.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/input/chipsYearInput.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update neuris-juris-xml-export to 0.10.47
  backend/build.gradle.kts
Due: none

Fix docunit creation from reference
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix another fixture
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add new unit test for periodical reference input
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix sonar issue
  frontend/src/stores/documentUnitStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix DecisionTransformerTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Really fix definition test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Change ResponseError to include just 1 description
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/eurlex/EURLexSearch.vue
  frontend/src/services/handoverDocumentationUnitService.ts
  frontend/src/services/httpClient.ts
  frontend/test/components/eurlex/eurlexSearch.spec.ts
  frontend/test/services/handoverDocumentationUnitService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Replace info modal with primevue/message
  frontend/src/components/AssignProcessStep.vue
  frontend/src/components/BulkAssignProcedure.vue
  frontend/src/components/CreateNewFromSearch.vue
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/ScheduledPublishingDateTime.vue
  frontend/src/components/category-import/SingleCategory.vue
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/management-data/DocumentUnitManagementData.vue
  frontend/src/components/management-data/DuplicateRelationListItem.vue
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/components/periodical-evaluation/PeriodicalEditions.vue
  frontend/src/components/periodical-evaluation/handover/PeriodicalEditionHandover.vue
  frontend/src/components/periodical-evaluation/handover/PeriodicalEditionHandoverEventLog.vue
  frontend/src/components/periodical-evaluation/handover/PeriodicalEditionHandoverPreview.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/src/components/procedures/ProcedureList.vue
  frontend/src/components/publication/DecisionPublication.vue
  frontend/src/components/publication/PendingProceedingPublication.vue
  frontend/src/components/publication/PublicationActions.vue
  frontend/src/components/publication/UatTestPortalInfo.vue
  frontend/src/components/search/DecisionSearch.vue
  frontend/src/components/search/PendingProceedingSearch.vue
  frontend/src/components/text-check/HandoverTextCheckView.vue
  frontend/src/routes/kitchensink/index/inputMask.vue
  frontend/src/routes/kitchensink/index/inputText.vue
  frontend/src/routes/kitchensink/index/table.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove infomodal
  frontend/src/components/InfoModal.vue
  frontend/src/components/InfoModalIcon.vue
  frontend/src/routes/kitchensink/index/infoModal.vue
  frontend/test/components/infoModal.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix LegalPeriodicalEditionIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

Fix DocumentationUnitIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Fix HandoverMailIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
Due: none

Fix ReferenceIntegrationTest
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Stabilize definition test
  frontend/test/e2e/caselaw/decision/categories/editableLists/definition.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Stabilize reference identity in editions
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/src/stores/editionStore.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix court test
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip failing e2e test for now
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix reference validation, unskip test
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests for word merging
  frontend/src/editor/removeTagsOnTyping.ts
  frontend/test/editor/removeTagsOnTyping.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add translations in comments
  frontend/src/editor/removeTagsOnTyping.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Simplify code
  frontend/src/editor/removeTagsOnTyping.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove immer package
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Remove immer package (#3617)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Remove duplicate code
  frontend/src/editor/removeTagsOnTyping.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

[RISDEV-10478] Handle single space deletion (#3616)
  frontend/src/editor/removeTagsOnTyping.ts
  frontend/test/editor/removeTagsOnTyping.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update languagetool image to use latest SHA256 digest
  compose.yaml
Due: none

Update languagetool image to new version with correct SHA
  compose.yaml
Due: none

Update languagetool image to use latest SHA256 digest (#3624)
  compose.yaml
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
