Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Assure docunit can be saved after import
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix file download
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3MockClient.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
Due: none

Preserve appeal ID during import
  frontend/src/components/category-import/CategoryImport.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test
  frontend/test/components/category-import/categoryImport.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix config
  backend/src/main/resources/application.yaml
Due: none

Remove code from DL endpoint
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Revert "Assure docunit can be saved after import"
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Functional review tooltips
  frontend/src/components/ExtraContentSidePanelMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Main merge eslint fix
  frontend/test/e2e/caselaw/decision/handover/handover-imported-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Unskip images.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Unskip images.spec.ts"
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix flakyness in active-citation.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/relatedDocumentations/active-citations.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update handover images test
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix regex for test
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Add handover with images e2e test (#3686)
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update webclient wrapper
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisRequestSpec.java
Due: none

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DecisionBuilderTest.java
Due: none

Add frontend for other attachments
  frontend/src/components/AttachmentList.vue
  frontend/src/components/AttachmentView.vue
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/FileNavigator.vue
  frontend/src/components/FileUpload.vue
  frontend/src/components/OtherAttachments.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/inbox/shared/InboxList.vue
  frontend/src/components/search/shared/ResultList.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/attachment.ts
  frontend/src/domain/decision.ts
  frontend/src/i18n/errors.json
  frontend/src/routes/kitchensink/index/fileNavigator.vue
  frontend/src/routes/kitchensink/index/fileUpload.vue
  frontend/src/services/attachmentService.ts
  frontend/src/services/httpClient.ts
  frontend/src/stores/extraContentSidePanelStore.ts
  frontend/src/types/panelContentMode.ts
  frontend/test/components/decision/decisionAttachments.spec.ts
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
  frontend/test/components/fileUpload.spec.ts
  frontend/test/composables/useCaseLawMenuItems.spec.ts
  frontend/test/domain/documentUnit.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
  frontend/test/e2e/caselaw/extra-content-panel.spec.ts
  frontend/test/e2e/caselaw/navigation-panel.spec.ts
  frontend/test/e2e/caselaw/text-check/keep-matches.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/services/attachmentService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Updates
  backend/src/main/resources/db-scripts/migration/V1.20__add_atachment_type_column.sql
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
Due: none

Add patch size limit alert (#3679)
  frontend/src/composables/useSaveToRemote.ts
  frontend/src/i18n/errors.json
  frontend/src/services/documentUnitService.ts
  frontend/test/composables/useSaveToRemote.spec.ts
  frontend/test/services/documentUnitService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

No default value att type
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/FmxImportService.java
  backend/src/main/resources/db-scripts/migration/V1.20__add_atachment_type_column.sql
Due: none

Remove feature flag for image-handover
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/HandoverService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailServiceUATTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  frontend/src/components/HandoverDecisionView.vue
  frontend/test/components/handoverDocument.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Frontend for other attachments (#3691)
  frontend/src/components/AttachmentList.vue
  frontend/src/components/AttachmentView.vue
  frontend/src/components/DecisionAttachments.vue
  frontend/src/components/DocumentUnitList.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/FileNavigator.vue
  frontend/src/components/FileUpload.vue
  frontend/src/components/OtherAttachments.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/inbox/shared/InboxList.vue
  frontend/src/components/search/shared/ResultList.vue
  frontend/src/composables/useCaseLawMenuItems.ts
  frontend/src/domain/attachment.ts
  frontend/src/domain/decision.ts
  frontend/src/i18n/errors.json
  frontend/src/routes/kitchensink/index/fileNavigator.vue
  frontend/src/routes/kitchensink/index/fileUpload.vue
  frontend/src/services/attachmentService.ts
  frontend/src/services/httpClient.ts
  frontend/src/stores/extraContentSidePanelStore.ts
  frontend/src/types/panelContentMode.ts
  frontend/test/components/decision/decisionAttachments.spec.ts
  frontend/test/components/documentUnit/documentUnitList.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
  frontend/test/components/fileUpload.spec.ts
  frontend/test/composables/useCaseLawMenuItems.spec.ts
  frontend/test/domain/documentUnit.spec.ts
  frontend/test/e2e/caselaw/decision/categories/shortAndLongTexts/images.spec.ts
  frontend/test/e2e/caselaw/extra-content-panel.spec.ts
  frontend/test/e2e/caselaw/navigation-panel.spec.ts
  frontend/test/e2e/caselaw/text-check/keep-matches.spec.ts
  frontend/test/e2e/caselaw/utils/e2e-utils.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/services/attachmentService.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Distinguish between the two directions of links
  doc/adr/0025-use-multiple-tables-for-citations.md
Due: none

Fix typo
  doc/adr/0025-use-multiple-tables-for-citations.md
Due: none

Clarify that we don't create tables we do not need
  doc/adr/0025-use-multiple-tables-for-citations.md
Due: none

Add e2e tests for image handover prevention
  backend/src/main/resources/db-scripts/seed/R__seeding_testdata.sql
  frontend/test/e2e/caselaw/decision/handover/handover-documentation-unit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update language tool image
  compose.yaml
Due: none

Fix failing tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailServiceUATTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/HandoverServiceTest.java
Due: none

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/HandoverMailService.java
Due: none

Fix tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/FmxImportService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentType.java
  backend/src/main/resources/db-scripts/migration/V1.20__add_attachment_type_column.sql
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DecisionBuilderTest.java
Due: none

Fix code smell
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Explicitly use newer version of parcel watcher
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Ignore CVE-2026-0861
  .trivyignore
Due: none

Ignore CVE-2026-0861 (#3703)
  .trivyignore
Due: none
