Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Fix import
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
Due: none

Update spring cloud kubernetes
  backend/build.gradle.kts
  renovate.json5
Due: none

Reset error on takeover and delete
  frontend/src/components/inbox/shared/InboxList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not show pagination when inbox loads
  frontend/src/components/inbox/shared/InboxList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove customy styles form history log table
  frontend/src/components/management-data/DocumentUnitHistoryLog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Aligning error handling in EUR-Lex and in inbox
  frontend/src/components/AssignProcedure.vue
  frontend/src/components/BulkAssignProcedure.vue
  frontend/src/components/eurlex/EURLexList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use new RIS-UI release
  frontend/package.json
  frontend/src/components/management-data/DocumentUnitHistoryLog.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Do not show status column for EU tab
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/inbox/shared/InboxList.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/inbox/shared/inboxList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reset no docunit selected error on select
  frontend/src/components/eurlex/EURLexList.vue
  frontend/src/components/inbox/shared/InboxList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Sync package-lock
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Fix e2e test
  frontend/test/e2e/caselaw/inbox.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename FMX Service to FMX Import Service
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/FmxImportService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/HttpEurlexRetrievalService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/exception/FmxImporterException.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/exception/FmxTransformationException.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FmxImportServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/SingleNormValidationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ActiveCitationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DeviatingObjectIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerAuthIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitControllerDocxFilesIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitFieldOfLawIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitHistoryLogIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitKeywordIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckFullIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DuplicateCheckIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalForceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PreviousDecisionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ProcedureIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PrototypePortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/SaveNormIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ScheduledPublicationIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationJobIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/StagingPortalPublicationServiceIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/TextCheckIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/UserGroupIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/YearOfDisputeIntegrationTest.java
Due: none

Remove info logging of sonar backend plugin
  .github/workflows/backend-checks.yml
Due: none

Remove doc-unit from inbox when published
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
Due: none

Fix fmx import test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/EurlexConfig.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/FmxImportServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HealthEndpointIntegrationTest.java
Due: none

Add navigation to categories and sidepanel
  frontend/src/components/DocumentInfoPanel.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/PendingProceedingCategories.vue
  frontend/src/components/PendingProceedingCoreData.vue
  frontend/src/components/PendingProceedingPreviousDecisions.vue
  frontend/src/components/PendingProceedingProceedingDecisions.vue
  frontend/src/components/sidePanelKeywordShortcuts.ts
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/components/texts/PendingProceedingTexts.vue
  frontend/src/composables/usePendingProceedingMenuItems.ts
  frontend/src/domain/pendingProceeding.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber]/categories.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix fe tests
  frontend/src/components/DocumentInfoPanel.vue
  frontend/src/components/DocumentViewer.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove duplicated code
  frontend/src/components/DocumentInfoPanel.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

WIP
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/DocxImagePart.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/InlineImageElement.java
Due: none

Remove unnecessary code
  frontend/src/components/DocumentInfoPanel.vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Rename DocumentInfoPanel to DocumentableInfoPanel
  frontend/src/components/DocumentableInfoPanel.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
  frontend/src/routes/kitchensink/index/documentableInfoPanel.vue
  frontend/test/components/documentUnit/documentableInfoPanel.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reset all errormessages
  frontend/src/components/inbox/shared/InboxList.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix: docunit vanished from inbox on editiing
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/inbox/shared/InboxList.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/inbox/shared/inboxList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add checks for categories being filled
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add ADR for LegalDocML
  doc/adr/0024-use-legaldocml-as-exchange-format.md
Due: none

Fix typo
  doc/adr/0024-use-legaldocml-as-exchange-format.md
Due: none

Throw specific exceptions in mock eurlex service
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/MockEurlexRetrievalService.java
Due: none

Schedule eurlex update
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
Due: none

Bump exporter version
  backend/build.gradle.kts
Due: none

Update test description
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Schedule eurlex update"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/eurlex/EurLexSOAPSearchService.java
Due: none

Implement interface directly in no-op class
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/NoOpPortalPublicationService.java
Due: none

Use store instead of useCourtType.ts
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/PendingProceedingCategories.vue
  frontend/src/components/SingleNormInput.vue
  frontend/src/composables/useCourtType.ts
  frontend/test/components/nomReference/normReferenceInput.spec.ts
  frontend/test/components/other-categories.spec.ts
  frontend/test/composables/useCourtType.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove doc-unit from inbox when published (#2836)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
Due: none

Add search integration test cases
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitSearchIntegrationTest.java
Due: none

Save pending proceeding decisions
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PendingProceedingDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
Due: none

Fix courtType parameter assignment
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitSearchRepositoryImpl.java
Due: none

Hide border number option for pending proceedings
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/ExtraContentSidePanelMenu.vue
  frontend/src/components/input/TextEditorMenu.vue
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
