Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Bump chainguard image for redis
  compose.yaml
Due: none

Bump chainguard image for jre
  backend/Dockerfile.prod
Due: none

Ignore eslint/vite major updates for dependabot
  .github/dependabot.yml
Due: none

Ignore @eslint/js major updates for dependabot
  .github/dependabot.yml
Due: none

Pin github action versions
  .github/workflows/_playwright-test.yml
  .github/workflows/backend-checks.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/gradle-check.yml
  .github/workflows/ldml-branch-conflict-checker.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: none

Pin github action versions (#3918)
  .github/workflows/_playwright-test.yml
  .github/workflows/backend-checks.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/gradle-check.yml
  .github/workflows/ldml-branch-conflict-checker.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: none

Update use of slack notification github action
  .github/workflows/_playwright-test.yml
  .github/workflows/backend-checks.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/ldml-branch-conflict-checker.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
  README.md
Due: none

Npm audit fix
  frontend/package-lock.json
Due: frontend-prettier, frontend-eslint

Bump chainguard image for nginx
  frontend/Dockerfile.prod
Due: none

Pin github action versions
  .github/workflows/backend-checks.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: none

Pin github action versions (#3934)
  .github/workflows/backend-checks.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/pipeline.yml
  .github/workflows/scan.yml
Due: none

Skip test steps depending on the portal
  frontend/test/e2e/caselaw/decision/portal-publication.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/portal-publication.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove baseUrl in config
  frontend/tsconfig.json
Due: frontend-prettier, frontend-eslint

Use newer bump image action
  .github/workflows/bump_images.yml
Due: none

Bump language tool
  compose.yaml
Due: none

Bump versions
  .github/workflows/_playwright-test.yml
  .github/workflows/backend-checks.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/pipeline.yml
  backend/Dockerfile.prod
  compose.yaml
  frontend/Dockerfile.prod
Due: none

Bump frontend versions
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Pin @guardian/prosemirror-invisibles to 3.1.1
  .github/dependabot.yml
Due: none

Try to fix CVE-2026-34483 + CVE-2026-34487
  backend/build.gradle.kts
Due: none

Remove outdated .trivyignore entries
  .trivyignore
Due: none
