Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

Configure output
  lefthook.yaml
Due: none

Revert "Fix type problems"
  frontend/src/components/TestComponent.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add styles
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove test component
  frontend/src/components/TestComponent.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/routes/caselaw/test.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add additional attrs to DupRel domain obj
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DuplicateRelationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelation.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateRelationTransformerTest.java
  frontend/src/domain/documentUnit.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Enabling commented text editor header
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding lefthook to run all tests with one command
  README.md
  lefthook.yaml
Due: none

Display duplicate warnings in management data
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/components/DuplicateRelation.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Extract component styles
  frontend/src/components/TextSuggestionsDropdown.vue
  frontend/src/components/input/TextEditor.vue
  frontend/src/styles/text-suggestion.scss
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove style tag
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Review findings
  frontend/src/components/category-import/CategoryImport.vue
  frontend/test/e2e/caselaw/category-import.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Disable external styling rules
  frontend/src/styles/text-suggestion.scss
Due: none

Set duplicate relation status
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelationStatusRequest.java
  frontend/src/components/DuplicateRelation.vue
  frontend/src/services/documentUnitService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Also show pending docunits in search results
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseDocumentationUnitRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Add unit test for DuplicateRelationListItem
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/components/DuplicateRelationListItem.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/duplicateRelationListItem.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use order by instead of order column
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
Due: none

Fix doc unit creation from edition
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
Due: none

Add 'Weitere Angabe' button with scroll effect
  frontend/src/components/EditableList.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/test/e2e/caselaw/fixtures.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix e2e test
  frontend/test/e2e/caselaw/periodical-evaluation/literature-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Only show icon for active warning
  frontend/src/components/DuplicateRelationListItem.vue
  frontend/test/components/duplicateRelationListItem.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add test for DocumentUnitManagementData
  frontend/test/components/DocumentUnitManagementData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Scroll new list input into view
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Scroll new list input into view"
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding a language tool controller
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageToolController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/LanguageToolConfig.java
  backend/src/main/resources/application.yaml
  frontend/src/editor/languagetool/languageTool.ts
  frontend/src/services/languageToolService.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Adding a language tool service
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageToolController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextCorrectionService.java
Due: none

Adding a no index analyser
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageToolService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TextRange.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/LanguageToolServiceTest.java
Due: none

Add additional attrs to DupRel domain obj
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DuplicateRelationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DuplicateRelation.java
  frontend/src/domain/documentUnit.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add additional attrs to DupRel domain obj
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateRelationTransformerTest.java
Due: none

Refactor references
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CaselawReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/EditionReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LegalPeriodicalEditionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LiteratureReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Reference.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DependentLiteratureTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Fix tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
Due: none

Fix most tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresLegalPeriodicalEditionRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/LegalPeriodicalEditionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/RelatedDocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  backend/src/test/resources/legal_periodical_cleanup.sql
Due: none

Set reference type when creating from doc unit
  frontend/src/components/DocumentUnitLiteratureReferenceInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use existing reference table again
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/ReferenceDTO.java
Due: none

Use new schema
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/LiteratureReferenceDTO.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

Spotless
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
Due: none

Scroll new list input into view
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
  frontend/test/e2e/caselaw/periodical-evaluation/editing-evaluation-references.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix stylelint:fix step
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add Duplicate check to handover
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/components/DuplicateRelationListItem.vue
  frontend/src/components/HandoverDocumentationUnitView.vue
  frontend/src/components/HandoverDuplicateCheckView.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/duplicateRelationListItem.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/scheduledPublishingDateTime.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
