Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

frontend-typecheck:
  tags: format frontend
  run: npm run --silent type:check

frontend-prettier:
  tags: format frontend
  run: npm run --silent prettier:fix {staged_files} && git add {staged_files}

frontend-eslint:
  tags: frontend lint
  run: npm run --silent eslint:fix {staged_files} && git add {staged_files}

RISDEV-8810: Add gegenstandswert to ldml (#3489)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Gegenstandswerte.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/RisMeta.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ProceedingType.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Add ldml branch conflict checker pipeline
  .github/workflows/ldml-branch-conflict-checker.yml
Due: none

Add ldml branch conflict checker pipeline (#3504)
  .github/workflows/ldml-branch-conflict-checker.yml
Due: none

Support running flyway via gradle
  backend/build.gradle.kts
Due: none

Add warning to preinstall script
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix ObjectValueInput.vue
  frontend/src/components/ObjectValueInput.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update languagetool image version
  compose.yaml
Due: none

Update languagetool image version (#3506)
  compose.yaml
Due: none

Add court branch locations (#3480)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/CourtController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CourtBranchLocationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/CourtDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseCourtBranchLocationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresCourtBranchLocationRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CourtBranchLocationTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/CourtTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CoreData.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CourtService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/court/Court.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/court/CourtBranchLocation.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/court/CourtBranchLocationRepository.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/EntityBuilderTestUtil.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/CourtServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/CourtIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/CourtBranchLocation.vue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/preview/PreviewCoreData.vue
  frontend/src/domain/coreData.ts
  frontend/src/domain/court.ts
  frontend/src/domain/courtBranchLocation.ts
  frontend/src/services/courtService.ts
  frontend/test/components/courtBranchLocation.spec.ts
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
  frontend/test/e2e/caselaw/decision/categories/coreData/court.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add menu items
  frontend/src/components/input/TextEditorMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix list indent amount
  frontend/src/styles/lists.css
Due: none

Add income types
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/IncomeTypeDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ContentRelatedIndexing.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/IncomeType.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/TypeOfIncome.java
  frontend/src/components/IncomeTypeInput.vue
  frontend/src/components/IncomeTypeSummary.vue
  frontend/src/components/IncomeTypes.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/domain/contentRelatedIndexing.ts
  frontend/src/domain/decision.ts
  frontend/src/domain/incomeType.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add backend transformer tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
Due: none

Add preview for income types
  frontend/src/components/IncomeTypeSummary.vue
  frontend/src/components/IncomeTypeSummaryBasic.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add income types fronted unit test
  frontend/test/components/incomeTypes.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix list indent amount (#3509)
  frontend/src/styles/lists.css
Due: none

Style menu items
  frontend/src/components/input/TextEditorMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Display warning in handover page
  frontend/src/components/HandoverDecisionView.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e tests
  frontend/src/components/IncomeTypes.vue
  frontend/test/components/handoverDocument.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/income-types.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

List styles added
  frontend/src/components/input/TextEditorMenu.vue
  frontend/src/editor/orderedList.ts
  frontend/src/styles/lists.css
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add abuse fee (Missbrauchsgebühr)
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AbuseFeeDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DecisionDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/AbuseFeeTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AbuseFee.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Addressee.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/ContentRelatedIndexing.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  frontend/src/components/AbuseFeeInput.vue
  frontend/src/components/AbuseFeeSummary.vue
  frontend/src/components/AbuseFees.vue
  frontend/src/components/HandoverDecisionView.vue
  frontend/src/components/OtherCategories.vue
  frontend/src/components/category-import/CategoryImport.vue
  frontend/src/components/preview/PreviewContentRelatedIndexing.vue
  frontend/src/data/addressee.ts
  frontend/src/domain/abuseFee.ts
  frontend/src/domain/contentRelatedIndexing.ts
  frontend/src/domain/decision.ts
  frontend/test/components/abuseFeeInput.spec.ts
  frontend/test/components/otherCategories.spec.ts
  frontend/test/components/preview/previewContentRelatedIndexing.spec.ts
  frontend/test/e2e/caselaw/decision/categories/editableLists/abuse-fee.spec.ts
  frontend/test/e2e/caselaw/decision/category-import.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/test-helper/tableUtil.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove duplicate code
  frontend/src/components/input/TextEditorMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add greek alphabet style
  frontend/src/components/input/TextEditorMenu.vue
  frontend/src/editor/orderedList.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add tests
  frontend/test/components/input/textEditorMenu.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add LDML for court branch locations
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Gericht.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionCommonLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingCommonLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
  backend/src/test/resources/testdata/pending_proceeding_full_ldml.xml
Due: none

Fix padding
  frontend/src/styles/lists.css
Due: none

Fix size
  frontend/src/components/input/TextEditorMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix child hover state
  frontend/src/components/input/TextEditorButton.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix child colour
  frontend/src/components/input/TextEditorMenu.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update migration-schema to 0.0.115
  backend/build.gradle.kts
Due: none

Extract MonetaryInput.vue
  frontend/src/components/AbuseFeeInput.vue
  frontend/src/components/ObjectValueInput.vue
  frontend/src/components/input/MonetaryInput.vue
  frontend/test/components/abuseFeeInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Ignore sonar
  backend/build.gradle.kts
Due: none

Add LDML for court branch locations (#3514)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Gericht.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionCommonLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingCommonLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/pendingproceeding/PendingProceedingReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
  backend/src/test/resources/testdata/pending_proceeding_full_ldml.xml
Due: none

Add dto, transformer and domain objet
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CorrectionType.java
Due: none

Add Berichtigungen to ldml
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Berichtigungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/RisMeta.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Use akn:ref for references
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/RandnummernRef.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/Ref.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Berichtigungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Definitionen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/HerkunftDerUebersetzungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Rename RandnummernRef to RandnummerRef
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/RandnummerRef.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Berichtigungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Definitionen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/HerkunftDerUebersetzungen.java
Due: none

Add missing test
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
Due: none

Berichtigung LDML (#3481)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/RandnummerRef.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/Ref.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Berichtigungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/Definitionen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/HerkunftDerUebersetzungen.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/meta/proprietary/RisMeta.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/CorrectionType.java
  backend/src/main/resources/xml/htmlToAknHtml.xslt
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionFullLdmlTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ldml/decision/DecisionReducedLdmlTransformerTest.java
  backend/src/test/resources/testdata/decision_full_ldml.xml
Due: none

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/
