Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Fix typos and markup (#2812)
  README.md
Due: none

Fix short text issue
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/domain/pendingProceeding.ts
  frontend/test/components/texts/pendingProceedingTexts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Remove unused props
  frontend/src/components/DocumentUnitInfoPanel.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

WIP
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocxConverterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/converter/docx/RunElementConverter.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/DocxImagePart.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/docx/InlineImageElement.java
Due: none

Set BPatG Docnumber Pattern in UAT
  backend/src/main/resources/application-uat.yaml
  backend/src/main/resources/application.yaml
Due: none

Add fe tests
  frontend/src/components/DocumentUnitInfoPanel.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/ExtraContentSidePanel.vue
  frontend/src/components/PendingProceedingCoreData.vue
  frontend/src/components/input/types.ts
  frontend/src/routes/kitchensink/index/documentUnitInfoPanel.vue
  frontend/test/components/documentUnit/documentUnitInfoPanel.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/components/pending-proceeding/pendingProceedingCategories.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
  frontend/test/components/texts/pendingProceedingTexts.spec.ts
  frontend/test/composables/usePendingProceedingMenuItems.spec.ts
  frontend/test/routes/documentUnit/[documentNumber].spec.ts
  frontend/test/routes/pending-proceeding/[documentNumber].spec.ts
  frontend/test/routes/periodical-evaluation/[editionId].spec.ts
  frontend/test/services/documentUnitService.spec.ts
  frontend/test/test-helper/routes.ts
  frontend/test/utils/typeGuards.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add backend tests
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Update fe dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
  frontend/test/components/nomReference/normReferenceInput.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/components/settings/apiKeySettings.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update pending proceeding short text domain model
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceeding.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/PendingProceedingShortTexts.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
  frontend/src/components/preview/PendingProceedingPreview.vue
  frontend/src/components/texts/PendingProceedingShortTexts.vue
  frontend/src/domain/pendingProceeding.ts
  frontend/test/components/preview/previewPendingProceeding.spec.ts
  frontend/test/components/texts/pendingProceedingTexts.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix integration test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
Due: none

Revert "Update fe dependencies"
  frontend/package-lock.json
  frontend/package.json
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
  frontend/test/components/nomReference/normReferenceInput.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/components/settings/apiKeySettings.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update fe dependencies (without playwright)
  frontend/package-lock.json
  frontend/package.json
  frontend/test/components/activeCitations.spec.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/ensuingDecisions.spec.ts
  frontend/test/components/extraContentSidePanel.spec.ts
  frontend/test/components/nomReference/normReferenceInput.spec.ts
  frontend/test/components/previousDecisions.spec.ts
  frontend/test/components/settings/apiKeySettings.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Try to fix eurlex.spec.ts
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Skip eurlex.spec.ts
  frontend/test/e2e/caselaw/eurlex.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add "Apache License V2.0" to allowed-licenses.json
  allowed-licenses.json
Due: none

Add endpoint to get images
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AttachmentDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AttachmentRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Image.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisBodySpec.java
Due: none

Add endpoint to get images (#2851)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AttachmentDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/AttachmentRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AttachmentService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Image.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/webtestclient/RisBodySpec.java
Due: none

Add hashCode and equals
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Image.java
Due: none

Relocate transformation into correct transformers
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentableTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DecisionTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PendingProceedingTransformerTest.java
Due: none

Import test review suggestions
  frontend/test/e2e/caselaw/handover/handover-imported-documentation-unit.spec.ts
  frontend/test/e2e/caselaw/utils/importer-api-util.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix DOCUMENTION_UNIT enum
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Documentable.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Kind.java
  frontend/src/components/DocumentUnitCategories.vue
  frontend/src/components/DocumentViewer.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/domain/documentUnit.ts
  frontend/src/routes/caselaw/documentUnit/[documentNumber].vue
  frontend/src/utils/typeGuards.ts
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/components/preview/previewCoreData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Small things from review
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitControllerTest.java
Due: none

Ignore CVE-2025-22874 (in Go stdlib)
  .trivyignore
Due: none

Automatically set isResolved
  frontend/src/components/DocumentUnitCoreData.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add e2e test for pending proceeding core data
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/preview.spec.ts
  frontend/test/e2e/caselaw/preview.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix unit test to work with defineModel
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update fe dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Enrich e2e tests for pending proceeding shorttexts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix inbox e2e flakiness
  frontend/src/components/inbox/EUCaselaw.vue
  frontend/src/components/inbox/PendingHandover.vue
  frontend/src/components/inbox/shared/InboxSearch.vue
  frontend/test/e2e/caselaw/inbox.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Small review findings
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/test/components/documentUnit/documentUnitCoreData.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Resolve CVE-2025-48988
  backend/build.gradle.kts
Due: none

Fix e2e test
  frontend/test/e2e/caselaw/authorization.spec.ts
  frontend/test/e2e/caselaw/pending-proceeding/edit.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix side panel props
  frontend/src/routes/caselaw/periodical-evaluation/[editionId].vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix code smells
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/input/types.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reduce cognitive complexity
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
Due: none

Add route and menu item for pending proceeding references
  frontend/src/composables/usePendingProceedingMenuItems.ts
  frontend/src/routes/caselaw/pending-proceeding/[documentNumber]/references.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint
