Repository digitalservicebund/ris-backend-service: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-typecheck, frontend-prettier, frontend-eslint

Path conditions:
  frontend-typecheck: any of: *.{ts,vue} and ^frontend/
  frontend-prettier: any of: *.{vue,ts,js,json} and ^frontend/
  frontend-eslint: any of: *.{vue,ts,js,json} and ^frontend/

Catch all duplicate check exceptions (#2515)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  frontend/test/e2e/caselaw/testfiles/some-border-numbers.docx
Due: none

Move preview permission logic to edition service
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalEditionController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/LegalPeriodicalEditionService.java
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Undo adding redundant permissions to search result
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
Due: none

Fix tests
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalEditionControllerTest.java
Due: none

Add field to domain again
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  frontend/src/domain/relatedDocumentation.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Fix test
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalEditionControllerTest.java
Due: none

Add duplicate-check e2e
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/managementdata/duplicate-check.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Temporary: add controller logging
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Remove ranks from domain model
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/Reference.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/ReferenceTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/HandoverMailIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
Due: none

Fix sonar issue
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
Due: none

Scroll to O-Satz (not Tenor) on previewlink
  frontend/src/components/preview/PreviewLongTexts.vue
  frontend/src/composables/useScroll.ts
  frontend/test/composables/useScroll.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Make Stammdaten and Fundstellen inputs responsive
  frontend/src/components/DocumentUnitCoreData.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceInput.vue
  frontend/test/components/expandableContent.spec.ts
  frontend/test/components/input/textEditor.spec.ts
  frontend/test/components/input/textEditorMenu.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferenceInput.spec.ts
  frontend/test/components/periodicalEvaluation/editionReferences.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Temporary: add controller logging"
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DocumentationUnitController.java
Due: none

Add endpoint to generate a zip for sample ldmls
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/AdminController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3Bucket.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/FrbrAlias.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/caselawldml/FrbrElement.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitToLdmlTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/CaseLawLdmlExportTest.java
Due: none

Has preview access permission (#2510)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalEditionController.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/OAuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/AuthService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/LegalPeriodicalEditionService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/RelatedDocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/LegalPeriodicalEditionControllerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/PatchUpdateIntegrationTest.java
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferenceSummary.vue
  frontend/src/components/periodical-evaluation/references/PeriodicalEditionReferences.vue
  frontend/src/domain/relatedDocumentation.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Make sample generation async
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/LegalDocMLConfig.java
Due: none

Add more logging for failures
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/LdmlExporterService.java
Due: none

Remove redundant referencedDocumentationUnit
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseRelatedDocumentationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/RelatedDocumentationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PreviousDecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitListItem.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  frontend/test/components/searchResultList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Reduce duplicate relation error logs
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/DuplicateRelationService.java
Due: none

Add test compoenet
  frontend/src/routes/caselaw/test.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add new design compoenet
  frontend/src/components/TextSuggestionsDropdown.vue
  frontend/src/components/input/TextEditor.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add delete button to managementdata
  frontend/src/components/DocumentUnitDeleteButton.vue
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/test/components/documentUnitDeleteButton.spec.ts
  frontend/test/components/documentUnitManagementData.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/managementdata/delete-doc-unit-from-managementdata.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Menu styles
  frontend/src/components/TextSuggestionsDropdown.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Use any with explicit string class
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
Due: none

Remove redundant referencedDocumentationUnit (#2517)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DatabaseRelatedDocumentationRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/PostgresDocumentationUnitRepositoryImpl.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/RelatedDocumentationDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/PreviousDecisionTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitListItem.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitRepository.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitListItemTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/EnsuingDecisionsIntegrationTest.java
  frontend/test/components/searchResultList.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add scroll locking
  frontend/src/components/DocumentUnitDeleteButton.vue
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Add bubble menu
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix bug importing ambiguous norms
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/NormReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
Due: none

Rename caselaw references in domain model
  backend/build.gradle.kts
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/JurisXmlExporterWrapper.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnit.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/DocumentationUnitServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/domain/OAuthServiceTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/LegalPeriodicalEditionIntegrationTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/ReferenceIntegrationTest.java
  frontend/src/components/DocumentUnitReferences.vue
  frontend/src/components/preview/DocumentUnitPreview.vue
  frontend/src/components/preview/PreviewCaselawReferences.vue
  frontend/src/domain/documentUnit.ts
  frontend/test/components/preview/previewCaselawReferences.spec.ts
  frontend/test/components/preview/previewLiteratureReferences.spec.ts
  frontend/test/e2e/caselaw/fixtures.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update all-frontend-non-major-dependencies (#2507)"
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix legacy sonar issues
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/S3Bucket.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/DocumentationUnitDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/EnvironmentConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/config/SecurityConfig.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/domain/LegalPeriodicalEditionService.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/CaseLawLdmlExportTest.java
Due: none

Fix checking for existing abbreviations
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
Due: none

Update tiptap dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Add tests for grouping by raw value
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Fix bug importing ambiguous norms (#2520)
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/database/jpa/NormReferenceDTO.java
  backend/src/main/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformer.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/adapter/transformer/DocumentationUnitTransformerTest.java
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
Due: none

Address review comments
  frontend/src/components/DocumentUnitDeleteButton.vue
  frontend/src/components/PopupModal.vue
  frontend/src/components/input/TextButton.vue
  frontend/src/routes/kitchensink/index/popupModal.vue
  frontend/test/components/documentUnitDeleteButton.spec.ts
  frontend/test/e2e/caselaw/managementdata/duplicate-check.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Revert "Update all-frontend-non-major-dependencies (#2522)"
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/Dockerfile.prod
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier, frontend-eslint

Fix legacy sonar issues (FE)
  backend/src/test/java/de/bund/digitalservice/ris/caselaw/integration/tests/DocumentationUnitIntegrationTest.java
  frontend/src/components/DocumentationUnitSummary.vue
  frontend/src/components/LoadingSpinner.vue
  frontend/src/components/SaveDocumentUnitButton.vue
  frontend/src/components/input/FileInput.vue
  frontend/src/components/input/TimeInput.vue
  frontend/src/components/input/listInput/ListInputEdit.vue
  frontend/src/components/periodical-evaluation/PeriodicalEdition.vue
  frontend/src/stores/documentUnitStore.ts
  frontend/src/stores/extraContentSidePanelStore.ts
  frontend/test/components/input/timeInput.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint

Update renovate.json5
  renovate.json5
Due: none

Add delete button to managementdata (#2519)
  frontend/src/components/DocumentUnitDeleteButton.vue
  frontend/src/components/DocumentUnitManagementData.vue
  frontend/src/components/PopupModal.vue
  frontend/src/components/input/TextButton.vue
  frontend/src/routes/kitchensink/index/popupModal.vue
  frontend/test/components/documentUnitDeleteButton.spec.ts
  frontend/test/components/documentUnitManagementData.spec.ts
  frontend/test/e2e/caselaw/e2e-utils.ts
  frontend/test/e2e/caselaw/managementdata/delete-doc-unit-from-managementdata.spec.ts
  frontend/test/e2e/caselaw/managementdata/duplicate-check.spec.ts
Due: frontend-typecheck, frontend-prettier, frontend-eslint
